[2017-10-09 03:13] freemadc2 opened #2 "Getting -[NSBundle initWithURL:]: nil URL argument when using "presentSendTemplateControllerWithTemplate""
Hi,

I am getting an crash
 instantly when I use the method "presentSendTemplateControllerWithTemplate". The error relates to "-[NSBundle initWithURL:]: nil URL argument". I am not sure why. I am passing a correct templateID. My code is below. If you could lease help me with this. Thanks.

        DSMManager.login(withUserId: DocuSignHelper.userName,
                         password: DocuSignHelp

[2017-10-09 11:38] ashokds commented on #2
Hi @freemadc2,

Please add details of your setup: CocoaPods, Swift & Xcode version.
Thanks for reporting this with sample code & call stack.

[2017-10-09 18:52] freemadc2 commented on #2
Ah @ashokds,

This was the issue. Thank you very much.

[2017-10-09 23:26] #2 closed

[2017-12-19 19:23] dktan opened #3 "embedded signing view?"
As I read through the docs, there is no functionality of embedded signing, only native view this lib provide is a template controller view for sending templates to customers.

But, as your advertised here: https://docs.docusign.com/ios_sdk/index.html, there should be a view that can collect signatures from customers, which is kinda of embedded signing.

If you do have this embedded signing feature

[2017-12-19 19:28] iOSSDK-DocuSign commented on #3
It supports Online and Offline Signing with - Embedded signing view.

[2017-12-19 19:31] dktan commented on #3
@iOSSDK-DocuSign
![image](https://user-images.githubusercontent.com/12505414/34175101-1a86c99e-e4b0-11e7-9702-4210a06689dc.png)

[2017-12-19 19:36] dktan commented on #3
@iOSSDK-DocuSign  I do find embeddedRecipientStartURL function in DSMRecipient, but this returns a url, not a ios view

[2017-12-19 19:59] iOSSDK-DocuSign commented on #3
They are the two options to present signing view controller. presentSendTemplateControllerWithTemplateWithId   presents the signing view controller on passed in presentingController.

[2017-12-19 21:42] dktan commented on #3
@iOSSDK-DocuSign
![image](https://user-images.githubusercontent.com/12505414/34180097-46297c60-e4c2-11e7-809b-98f5b2bba6bd.png)
I got this view, seems like I can send a template through this view, not sign

[2017-12-19 21:49] iOSSDK-DocuSign commented on #3
If you have a template with a placeholder for signer and when logged in user is added to it on this screen, or in-person signer with logged in user as host will trigger signing. As logged in user is one of the signer or a host...

[2017-12-19 22:06] dktan commented on #3
So, this lib can not provide a view like the web page /v2/accounts/{accountId}/envelopes/{envelopeId}/views/recipient provides for customer? right?

[2017-12-19 22:09] iOSSDK-DocuSign commented on #3
It provides signing ceremony for a user but it's not a webpage but UI component which is internally loading the same Web page. but does not provide web page.

[2017-12-19 22:11] dktan commented on #3
I mean a UIView, like that web page, where a end user who don't have docusign account can just sign a document.

[2017-12-19 22:15] iOSSDK-DocuSign commented on #3
If the user is not on DocuSign then someone needs to host it for that user and then they can sign. but this SDK does not give a UIVew for them. You can use other API to do that.

[2017-12-28 21:32] iOSSDK-DocuSign commented on #3
@dktan  I am closing the issue as there are no further questions please feel free to open up the new issue if you have an issue. will be happy to help you.

[2017-12-28 21:32] #3 closed

[2018-06-05 13:11] vijaypalve opened #6 "Linker command failed with exit code 1"
I have downloaded "iOS-offline-templates-sdk" and tried to run the sample project (docusign-sdk-sample-objc) but it throws "Linker command failed with exit code 1" error.

I am using Xcode 9.3 and MAC OS 10.13.3

I have performed all the steps mentioned on the sample app page ref.-https://docs.docusign.com/ios_sdk/developer.html.

I have also performed following steps to resolve the issue -
1. ins

[2018-06-05 18:38] iOSSDK-DocuSign commented on #6
Can you check if **DocusignSDK.bundle** is added to sample App. when adding the framework to Embeded Binaries,  don't delete the references instead add the SDK directly to Embedded Binaries.
Once Bundle and framework appears in project navigator, you may delete the old references.

Inaddition to this, we would recommend **CocoaPods version ~ 1.1.1** . Updating the pods may also leads to linker iss

[2018-06-05 20:14] iOSSDK-DocuSign commented on #6
@vijaypalve - Helpful commands to verify the cocoapods version & remove/install specific versions.

// verify the version
`pod --version`

// remove higher versions than 1.1.1
`sudo gem uninstall cocoapods`

// install specific version
`sudo gem install cocoapods -v 1.1.1`

link: https://stackoverflow.com/questions/20487849/how-to-downgrade-or-install-an-older-version-of-cocoapods

[2018-06-06 04:56] vijaypalve commented on #6
Thank you @iOSSDK-DocuSign
I have verified the cocoapods version & remove/install specific versions 1.1.1.

But the error was not resolved.
I have attached screen shots of "project navigator" and "Build Setting"
![screen shot 2018-06-06 at 10 19 29 am](https://user-images.githubusercontent.com/14092016/41017724-d8a818fe-6973-11e8-8694-5f1c61c0acdf.png)
![screen shot 2018-06-06 at 10 19 50 am](http

[2018-06-06 05:00] vijaypalve commented on #6
![screen shot 2018-06-06 at 10 29 14 am](https://user-images.githubusercontent.com/14092016/41017862-9bf2fdd8-6974-11e8-90ce-07ae2fbeee2b.png)

[2018-06-06 17:06] ashokds commented on #6
@vijaypalve, Please use `docusign-sdk-sample-objc.xcworkspace` instead of `docusign-sdk-sample-objc.xcodeproj`. That should resolve it.

[2018-06-07 13:22] vijaypalve commented on #6
@iOSSDK-DocuSign Thank you it works .

I need to implement a user to make sign in my app using DocuSign. I have implemented Android and iOS application using Xamarin.Forms. How to implement Docusign in Xamarin.Forms?

[2018-06-07 14:52] iOSSDK-DocuSign commented on #6
Hi Vijay,

We have not tested implementation of our sdk in Xamarin.Forms, we don’t have that expertise as well. Try it out and let us know, if you run into any native (Obj-C or Swift) implementation issue we can be of more help.

Best, -Kiran

_____________________________
From: Vijay S. Palve <notifications@github.com>
Sent: Thursday, June 7, 2018 6:22 AM
Subject: Re: [docusign/iOS-offline-templa

[2018-06-07 21:55] iOSSDK-DocuSign commented on #6
Closing this issue as resolved.

[2018-06-07 21:55] #6 closed

[2018-06-13 04:05] vijaypalve opened #8 "DocuSing API return content-type exception"
I have implemented DocuSign authentication API. It throws exception "Content-Type"
Please find the attached screen shots.

![request](https://user-images.githubusercontent.com/14092016/41329757-157b54f2-6eed-11e8-8513-c5ecc97be449.png)
![reuest1](https://user-images.githubusercontent.com/14092016/41329815-680cbd8c-6eed-11e8-8a3a-30a0f84dfaf9.png)

![content-type exception](https://user-images.gith

[2018-06-13 04:56] mmallis87 commented on #8
@vijaypalve is there any chance you can use the [official DocuSign Nuget package](https://github.com/docusign/docusign-csharp-client)?

[2018-06-13 08:21] vijaypalve commented on #8
@mmallis87  Thank you for the reply.

I have implemented application using Xamarin.Forms. Thats why I am using DocuSign API's and is there any change to use DocuSign package in Xamarin.Forms?

[2018-06-13 11:15] iOSSDK-DocuSign commented on #8
@vijaypalve
Would it be possible for you to attach a project that reproduces the API error blocking you? We don't officially support Xamarin, may take a look.

[2018-06-13 12:00] vijaypalve commented on #8
@iOSSDK-DocuSign  Thank you for the reply

Please the attached project

[DocuSign_XF1.zip](https://github.com/docusign/iOS-offline-templates-sdk/files/2097970/DocuSign_XF1.zip)

[2018-06-14 04:43] vijaypalve commented on #8
@iOSSDK-DocuSign

 Did you get a chance to see conten-type issue?

[2018-06-14 12:15] vijaypalve commented on #8
@iOSSDK-DocuSign

Content-Type issue resolved after using below code :

`client.DefaultRequestHeaders.Accept.Add(new MediaTypeWithQualityHeaderValue("application/json"));`

![rest call](https://user-images.githubusercontent.com/14092016/41411455-905995a4-6ffa-11e8-8681-6f7e5da544a2.png)

But after sending request apI throws a task was canceled exception :

![taskcancel](https://user-images.githubu

[2018-11-01 01:17] rpelorosso opened #12 "Present a signing screen for an envelope by Id."
Hi!

My application needs to present the signing screen for an envelope, but the envelope should not be created in the app, but in a server. This server provides the app with the envelope id.

I couldn't find anything in the documentation about displaying the signing form for an envelope by id.

Is it possible to do so?

Thank you!
Rodrigo

[2018-11-05 21:55] ashokds commented on #12
Hi @rpelorosso ,

As of the current version, it's not possible to present an online signing session with SDK when the envelope doesn't originate in the SDK.

Thanks.

[2018-11-07 02:01] rpelorosso commented on #12
I thought that would be the case,

I guess we'll just create a signing link and display it using a webview.

Thanks!
Rodrigo

[2018-11-07 02:01] #12 closed

[2019-02-04 07:41] patelvivek9115 commented on #3
I am getting same issue I just want to open signing view that user can sign the document and save it I am not able to find any api in sdk I tried with method presentEditRecipientsControllerForEnvelope by passing envelope id but nothing is happening

[2019-02-04 08:03] patelvivek9115 commented on #3
@dktan  did you find any way to open the signing view that user can able to sign the document, please share your views thanks.

[2019-02-04 16:12] patelvivek9115 opened #13 "Open signing view"
I am getting a document from backend and I need to open signing view so that user can sign the document but not able to find any api related to that in sdk.

[2019-02-04 17:36] patelvivek9115 commented on #13
@iOSSDK-DocuSign
I am getting an html string from backend, how can I proceed with it

[2019-02-04 18:34] patelvivek9115 commented on #13
@iOSSDK-DocuSign The document(envelop) is created using Docusign web and the backend team provide me an api from which I am getting content as a html string. So can you please give some idea how I use this content to take signature of app user

[2019-02-04 18:47] patelvivek9115 commented on #13
Html content

[HTMLDocusign.txt](https://github.com/docusign/iOS-offline-templates-sdk/files/2829367/HTMLDocusign.txt)

[2019-02-04 20:37] iOSSDK-DocuSign commented on #13
@patelvivek9115 , thanks for the details.

Expending on the last comment "So can you please give some idea how I use this content to take signature of app user".

In this case using iOSSDK (v2.0) won't help you much as there is no current interface in iOSSDK (`DSMEnvelopesManager`) to open the signing view with an existing envelope sent via API. We'll have to look at the alternatives, such as, imp

[2019-02-06 21:42] patelvivek9115 commented on #13
I am sharing html content with you.
[
[HTMLSigning.txt](https://github.com/docusign/iOS-offline-templates-sdk/files/2838371/HTMLSigning.txt)
](url)

yes

It doesn't matter we just want user signature

No we don't want user need to go outside the app

What i am doing right now I take signing url from the backend which is something like that
https://demo.docusign.net/Signing/StartInSession.aspx?t= a

[2019-02-06 23:00] iOSSDK-DocuSign commented on #13
@patelvivek9115 ,

Thanks for further details. Given that you are looking for iOS+Android solution and would like to get the signatures on your app itself (without user requiring app switch). There are more followup questions to understand your need better and suggest an appropriate solution/details.

Could you please contact us via email on `iOSOfflineTemplatesSdk@docusign.com`.

Also, is your te

[2019-03-27 00:21] #8 closed

[2019-03-27 00:21] ashokds commented on #8
Closed as no longer active.

[2019-03-27 00:21] #13 closed

[2019-03-27 01:53] mjzandona opened #14 "Fields not populating into template using Swift sample code"
I have followed the instructions to download the example app code, run the pod install, create template in developer sandbox, rename text box fields in Data Labels and use that name in the Swift code tabKey_* variables.  After following all of the instructions, the app is successfully built and running on the simulator.  However, all the text fields in the template show "Text" and not the data pre

[2019-03-27 16:57] iOSSDK-DocuSign commented on #14
Please ensure correct templateId is passed along with the tabData.

![template-id](https://user-images.githubusercontent.com/31968825/55095348-35788f80-5075-11e9-9422-b245801028f2.png)

-- Other relevant details --

Variables such as ‘tabKey_address2’ are used to link tabs in template and apply the default value before kicking off the signing ceremony.

Line from swift sample:
`static let tabKey_a

[2019-03-27 17:01] iOSSDK-DocuSign commented on #14
Thanks for sharing this detail. Swift sample is out of date and we are planning to update it to 4.2.

[2019-03-27 21:05] mjzandona commented on #14
Here are some screen shots showing you what I'm doing.  I'm following your examples as far as I can tell.

**Template ID passed to SDK:**
![templateID](https://user-images.githubusercontent.com/4524664/55111882-96fe2580-5098-11e9-8d77-b15f340f5841.png)

**Template ID in Xcode**
<img width="914" alt="templateIdXcode" src="https://user-images.githubusercontent.com/4524664/55111921-a7160500-5098-11e9

[2019-03-27 22:16] mjzandona commented on #14
Are you using a Powerform or a template?  From your screenshot I see a Recipient field which does not exist in my template form when I modify from the developer sandbox.
![Signer1](https://user-images.githubusercontent.com/4524664/55116015-345e5700-50a3-11e9-9942-c85f9b9562a1.png)

[2019-03-28 17:33] iOSSDK-DocuSign commented on #14
This example is using templates.

Here is a sample template `AutoInsuranceClaims.json` attached.

[AutoInsuranceClaims.json.zip](https://github.com/docusign/native-ios-sdk/files/3019351/AutoInsuranceClaims.json.zip)

Regarding not seeing the `recipient` field, it could be because your template only has 1 recipient?

<img width="1053" alt="Screen Shot 2019-03-28 at 10 14 08 AM" src="https://user-im

[2019-04-09 16:38] mjzandona commented on #14
I'm using DocuSign SDK v2.0, Xcode v10.1, Swift v3.

Can you run the swift example and provide a screenshot of the fields populated with the info from the app?  Let me know what version I should be running.

Also, if you have fixed the completion handler in the closure for the TemplateManager (it correctly has Viewcontroller and error as two passing arguments).    The DocusignViewController only h

[2019-04-09 16:52] mjzandona commented on #14
I see you made all the fixes/updates in v2.1 Swift example.  I will try starting from the beginning with your latest version.

[2019-04-09 17:48] mjzandona commented on #14
I'm having problems installing the new pods

<img width="771" alt="podinstall" src="https://user-images.githubusercontent.com/4524664/55822638-e559ee00-5ab4-11e9-9fb6-095c1c1d984a.png">

Here is my directory structure

<img width="688" alt="directory" src="https://user-images.githubusercontent.com/4524664/55822651-ebe86580-5ab4-11e9-983f-d4d7868f4b2e.png">

[2019-04-09 18:06] iOSSDK-DocuSign commented on #14
Please add `pod --version` and other details from the console output (top section) of `pod install --repo-update`.

[2019-04-09 19:50] mjzandona commented on #14
Ok, got it now.  Project builds and executes but still same behavior as in my very first post above.  The data from the app does not get populated into the text fields.

Is this user error of the app on my part?  I log in fine.  Click on Templates to cache my sample template.  Then I:
- click Tom Woods (under upcoming appointments)
- click on 'View Agreement'
- click 'Next'
- click/select my sampl

[2019-04-09 20:07] mjzandona commented on #14
I will wait for you to prove that the app works for you with a screenshot of a pre-populated template.  I'm going in circles.

When I debug the code, the tabData fields are getting properly assigned to the mDSMEnvelopeDefaults instance of the DSMEnvelopeDefaults class.  I should be seeing "Tom Wood" get populated into the fullname text field.

<img width="864" alt="code debug" src="https://user-im

[2019-04-11 05:53] mjzandona commented on #14
I ended up solving this myself.  A little disappointed on the support.

I built the obj-c app and found that the template only gets populated properly in the online mode; offline mode does not work.
<img width="376" alt="AlluraFlow" src="https://user-images.githubusercontent.com/4524664/55933612-c6597a00-5be2-11e9-8269-dac2543eff4a.png">

Online Mode
<img width="378" alt="AlluraOnlineFlow" src="ht

[2019-04-11 18:50] iOSSDK-DocuSign commented on #14
Hi @mjzandona,

In the screenshots you shared above for online you are using "Home Insurance Claim" template, that has the tab defaults data.

In the offline mode, you are using "Auto Insurance Claim", that doesn't have tab defaults assigned during offline.

In offline mode, If you use the same "Home Insurance Claim" template, you would see the tab defaults are also getting applied (exactly same d

[2019-04-11 20:22] mjzandona commented on #14
The first set of 3 screen shots is from the obj-c sample app. And the only option is to use the auto insurance claim.  All the screen shots are using auto insurance. I did not use home insurance template.   Now I’m confused. The movie would be helpful but it looks like the file is too big. Can you host it on Dropbox or YouTube?

On Apr 11, 2019, at 11:50 AM, iOSSDK-DocuSign <notifications@github.c

[2019-04-11 20:31] mjzandona commented on #14
Your screen shot of "home insurance claim" from the obj-c app is actually the "investment agreement" from the swift sample app.  It's like we're talking about different sample apps.

In the insurance app, clicking on home insurance claim does nothing (it's a dummy option).  The only option that does anything is the auto insurance option which triggers the sample template provided by you that gets

[2019-04-11 20:35] mjzandona commented on #14
Just watched your video.  What is different between the Auto Insurance and Home Insurance templates you are selecting in the swift app?

[2019-04-11 20:59] iOSSDK-DocuSign commented on #14
Regarding Objective-C sample:

You should be able to access and use both templates, "Home Insurance" & "Auto Insurance", on Objective-C sample as well with offline.

<img width="545" alt="ObjC-Allura-accessing-both-templates" src="https://user-images.githubusercontent.com/31968825/55992193-d9129400-5c60-11e9-8197-6761d702f683.png">

Please have a look at the video for [Offline signing walkthrough

[2019-04-11 21:19] mjzandona commented on #14
Thanks.  More specifically,  what is different for each template in your developer sandbox?  How is the signer area configured?

<img width="849" alt="recipient" src="https://user-images.githubusercontent.com/4524664/55993582-5095f280-5c64-11e9-8e72-4698c2a3c465.png">

The sample repository has one pdf file that gets uploaded to the developer sandbox to create the template (you are showing two tem

[2019-04-11 21:29] mjzandona commented on #14
Is there a way to chat and screenshare with you?  I think that would simplify all this back and forth.  I'm not sure if we're on the same page.

[2019-04-11 22:07] iOSSDK-DocuSign commented on #14
Each of the templates contain different configurations (signers, documents, etc). For details on templates, please take a look at the Official DocuSign support page:
- [Working with Templates](https://support.docusign.com/guides/ndse-user-guide-working-with-templates)
- There are a bunch of helpful videos such as [What are DocuSign Templates?](https://www.youtube.com/watch?v=6yU_mIyFZPE) linked th

[2019-04-11 22:28] mjzandona commented on #14
Ok thanks.

In your swift movie, your "**_Home Insurance_**" template (which is really the **_Investment Agreement_**) is the one that works properly in offline mode.  If you could show me how your signer area is configured, I can probably figure this out on my own.  My problem is that I get various errors in the app when caching depending on how I setup the template signer/host information in the

[2019-04-12 05:12] mjzandona commented on #14
Is it possible I don't have proper permission to use "offline" mode?  Why would the same exact template work for online mode (in person signing) but not work for offline mode.  Offline mode seems to be a special feature that may require a special license?

I will try to post a video that shows me using the same exact template for online and offline signing.  Offline is not populating the informati

[2019-04-12 20:17] iOSSDK-DocuSign commented on #14
Yes. You would need to have offline signing & templates enabled in your account. Getting you in touch with the customer support team.

<img width="849" alt="55997036-32cd8b00-5c6e-11e9-9cce-47c465cf59d2" src="https://user-images.githubusercontent.com/31968825/56063865-530c5100-5d25-11e9-85e6-f2adcd311561.png">

[2019-04-12 22:11] mjzandona commented on #14
Thank you. It feels like I'm finally getting somewhere.

For my application, I don't require offline signing.  But I do need ability to have pdf insert to envelopes.

From the documentation, it looks like pdf insert is ignored for online signing.  Why is that the case?

<img width="982" alt="offlinesigning" src="https://user-images.githubusercontent.com/4524664/56068839-3841d880-5d35-11e9-8e55-944

[2019-04-15 20:13] iOSSDK-DocuSign commented on #14
Hi Michael,

This is something that's not supported out of the box for online signing.

For v2.x, alternative is to use offline signing flow to create envelopes with templates and add additional  pdf with `pdfToInsert` parameter and proceed with offline signing. Once the signing is complete in offline mode, app/user may sync the envelope back to DocuSign servers when the network is reachable.

Als

[2019-04-22 23:23] iOSSDK-DocuSign commented on #14
Got this resolved on side channel. This is the updated code in swift sample app that

[code]

Will push this change with upcoming release.

[2019-04-24 02:18] ashokds commented on #14
@mjzandona , closing this as resolved.

[2019-04-24 02:18] #14 closed

[2019-07-03 17:41] dmarcato opened #16 "Bitcode support"
Is there any particular reason why bitcode is turned off? Would it be possible to have it enabled? I can't use this SDK in my app if bitcode is off...

[2019-07-23 06:19] iOSSDK-DocuSign commented on #16
@dmarcato , We are working on to get this resolved in future. For now, the current SDK version (v2.1.4), has a dependency that doesn't support bitcode fully.

It's on our roadmap, could you please share more information about your use-cases? Understanding your use-case would help us prioritize it.

[2019-08-28 12:04] oferRounds opened #17 "React Native support"
Hi, do you have also support for React Native?

[2019-08-28 15:28] LarryKlugerDS commented on #17
Sorry, we don't have an SDK for React Native.

However it is not hard to call the DocuSign eSignature REST API directly. See the curl examples here: https://github.com/docusign/eg-03-curl

Regards,
Larry

[2019-08-28 15:29] #17 closed

[2019-08-28 15:41] oferRounds commented on #17
Thank you!

[2019-09-09 18:42] #16 closed

[2020-01-27 16:38] frankftsai opened #22 "Receiving CFBundleExecutable Key Error When Submitting App To AppStore"
ERROR ITMS-90535: "Unexpected CFBundleExecutable Key. The bundle at 'Payload/AcelityPatientApp.app/Frameworks/DocuSignSDK.framework/Tools.bundle' does not contain a bundle executable. If this bundle intentionally does not contain an executable, consider removing the CFBundleExecutable key from its Info.plist and using a CFBundlePackageType of BNDL. If this bundle is part of a third-party framework

[2020-03-20 18:40] jrodriguez-tera commented on #22
Same problem here, any updates coming soon?

[2020-03-20 18:57] jrodriguez-tera opened #26 "ITMS-90809: Deprecated API Usage - UIWebView"
Hello everybody, I hope you're doing well.

I have the following problem, we are planning to release a new app around May 2020 and during our beta testing .we are receiving the following warning from Apple everytime we upload a new build to TestFlight

**ITMS-90809: Deprecated API Usage** - Apple will stop accepting submissions of new apps that use UIWebView APIs starting from April 2020. See http

[2020-03-20 21:38] thomas-dang commented on #22
Hi @jrodriguez-tera,

We resolved some of the App Store upload errors as part of the SDK 2.2.1 and 2.2.2 releases. Could you please confirm which version of the SDK you are on, and if it is the ITMS-90535 / ITMS-90535 error code you are seeing or a different one?

Thanks.

[2020-03-20 21:59] jrodriguez-tera commented on #22
Hi @thomas-dang ,

I'm really sorry, after updating the pod version to '2.2.3' it stopped happening, now I'm experiencing the following issue: **ITMS-90809** you'll find more details here: #26

I guess you can close this one. Thank you and apologies again.

[2020-03-20 22:02] thomas-dang commented on #22
Hi @jrodriguez-tera,

Not a problem. For the upload error regarding the UIWebView, we are working on a release to fix that in our SDK and should have it out by next week at the latest.

Thanks.

[2020-03-20 22:14] jrodriguez-tera commented on #22
Sounds great, thanks @thomas-dang . Looking forward to receive the update

[2020-03-20 22:15] #22 closed

[2020-03-27 18:30] thomas-dang commented on #26
Hi @jrodriguez-tera,

We have released version 2.2.4 of our SDK, which includes the change from UIWebView to WKWebView. Please give that version a try.

Thanks.

[2020-03-27 18:44] jrodriguez-tera commented on #26
Hi @thomas-dang , those are good news, I will try it and will let you know how our tests went. Thanks

[2020-03-30 15:37] jrodriguez-tera commented on #26
Hi @thomas-dang,

I've updated to version 2.2.4, there are a couple of changes that are still missing in the migration. Here's what I've found:

<img width="1051" alt="DocuSign2 2 4" src="https://user-images.githubusercontent.com/40605460/77931489-d940e080-7271-11ea-9ef2-cc8acc6f8778.png">

In case you can't see the image, here are the remaining two cases where an instance or use of UIWebView was

[2020-03-31 18:54] thomas-dang commented on #26
Hi @jrodriguez-tera,

Thank you for the heads up. We will take a look, and get back to you.

Thanks.

[2020-04-15 21:13] jrodriguez-tera commented on #26
Hi @thomas-dang ,

I'm sorry to bother you but, do you guys have any updates about this?

[2020-04-15 22:56] thomas-dang commented on #26
Hi @jrodriguez-tera,

Thanks for following up. We have released version 2.2.5 of our SDK to migrate the remaining UIWebView instances to WKWebView. Would you mind upgrading to this latest version of our SDK?

Thanks.

[2020-04-21 16:51] jrodriguez-tera commented on #26
Hi @thomas-dang ,

Thanks for the update, this is finally fixed in the SDK version 2.2.5.

[2020-04-21 17:34] thomas-dang commented on #26
Great, thank you @jrodriguez-tera.

[2020-04-21 17:34] #26 closed

[2020-05-11 07:10] JeevanEashwar opened #29 "Getting "Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[DocuSignPOC.AppDelegate window]: unrecognized selector sent to instance 0x600002316820'""
#### What are you trying to do?
Integrate the Docusign cocoapod.
I did a pod install with `pod 'DocuSign'` which installed DocuSign (2.2.5).
My DSM set up is taken as it is from the example app in the cocoapod is as follows
[code]

After successful login, I am trying to present SendTemplateControllerWithTemplate.
[code]
 #### What is happening?
the app crashed with the following error.
<img width=

[2020-05-12 05:26] JeevanEashwar commented on #29
The application also crashes with the above error message, when adding recipients in presentComposeEnvelopeViewController.
![Simulator Screen Shot - iPhone 11 - 2020-05-12 at 10 55 32](https://user-images.githubusercontent.com/16348649/81641704-4209a400-943f-11ea-878e-0a5986d145df.png)

[2020-05-13 00:20] thomas-dang commented on #29
Hi @JeevanEashwar,

Thank you for reaching out regarding this issue. Our team is looking into it.

In the meantime, it seems this issue may come up for apps that have an iOS Deployment Target set to iOS 13+. In case you need a temporary workaround until we address this issue in our SDK, you can try setting your app's iOS Deployment Target to iOS 12+ for example and seeing if the issue is still the

[2020-05-14 06:55] JeevanEashwar commented on #29
Yeah, I observed the same.
Also, the issue is resolved on iOS 13+, if we add the window instance in the Appdelegate class.
```var window: UIWindow?```

Thanks

[2020-05-14 07:38] JeevanEashwar commented on #12
Hi DocuSign Dev team,
I want to present a signing screen for an envelope by Id. Is this feature available in any versions now?

[2020-05-14 07:39] JeevanEashwar commented on #12
For the envelopes generated online, I get this user message from the SDK
`Envelope is ready for sync and can not be resumed for signing.`

[2020-05-14 16:13] thomas-dang commented on #12
Hi @JeevanEashwar,

The ability to use our SDK to open the online signing ceremony for an envelope that already exists on the server is not currently available, but it is something on our roadmap.

Thanks.

[2020-05-28 20:21] PradeshKumar opened #30 "Template has unsupported Recipient attributes"
Hi, I'm facing a problem, if I didn't add a recipient name and email-Id, while creating a template.
<img width="869" alt="Untitled" src="https://user-images.githubusercontent.com/1768432/83189331-b2f2d080-a14e-11ea-86a1-4b5c06b9fc8b.png">

Then, when I tried to download the template from an iOS mobile app, I'm getting, **"Template has unsupported Recipient attributes."**. Whether, it's mandatory t

[2020-05-30 02:26] ashokds commented on #29
This is fixed in v2.3 release.

perform `pod update 'DocuSign'` to fetch `v2.3`.

It should result in:
`Installing DocuSign 2.3 (was 2.2.5 and source changed to `https://cdn.cocoapods.org/` from `trunk`)`

[2020-05-30 02:26] #29 closed

[2020-06-02 02:14] thomas-dang commented on #30
Hi @PradeshKumar,

It is generally ok to specify just a role name on the template, and then populate the name and e-mail only at the time of using the template.

The "Template has unsupported Recipient attributes" error may come up if any of the recipients on your template (or the template itself) have been configured to use any of the following recipient features. It also depends on whether you a

[2020-06-02 20:39] PradeshKumar opened #32 "App crash - [DSMPTNPDFViewController toolOverlayView]: unrecognized selector sent to instance 0x7f8c57710ec0"
Hi, when I'm trying to present the cached template in the offline mode, I'm facing an app crash.

-[DSMPTNPDFViewController toolOverlayView]: unrecognized selector sent to instance 0x7f8c57710ec0
2020-06-03 01:58:11.793362+0530 docusign-sdk-sample-swift[51401:1053548] *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[DSMPTNPDFViewController toolOverlayView]: un

[2020-06-02 20:40] PradeshKumar commented on #30
Thanks thomas-dang

[2020-06-02 20:40] #30 closed

[2020-06-02 21:16] PradeshKumar opened #33 "Couldn't able to change the navigationBar title color"
Currently, it's appearing white color and also, all letters are in caps.

`DSMAppearance.setNavigationBarTitleTextFont(UIFont(name: "Cairo", size: 10)!, color: .black)`

[2020-06-03 08:13] ashokds commented on #33
Please try with iOS specific font. ("Cairo" is an Android/Google platform font).

Swift:
`DSMAppearance.setNavigationBarTitleTextFont(UIFont.systemFont(ofSize: 10, weight: UIFont.Weight.bold), color: .black)
`

Objective-c:
`[DSMAppearance setNavigationBarTitleTextFont:[UIFont systemFontOfSize:10 weight:UIFontWeightBold] color:UIColor.systemPinkColor];`

[2020-06-03 09:55] ashokds commented on #32
Hi @PradeshKumar ,

Please find a fix for this issue on the `v2.3.1` branch. You could add the following to resolve it on your end:

`pod 'DocuSign', :git => 'https://github.com/docusign/native-ios-sdk.git', :branch => "release/2.3.1"`

For pod related troubleshooting, please refer: https://github.com/docusign/native-ios-sdk/blob/master/support-files/Integration-Troubleshooting.md

Thanks~

[2020-06-03 17:28] PradeshKumar opened #34 "DocuSign is always adopting an existing signature in an online mode"
Hi, I want to adopt "Draw your signature" every time, whenever a user try to perform a DocuSign in an online mode. Even, I've tried signature adoption "Start on draw" and  "Enable draw new signature for each signature or initial field". But, no luck...

Also, why I'm getting a black shadow like below, whenever I'm loading a template:
<img width="501" alt="blackShadow" src="https://user-images.gith

[2020-06-03 20:46] ashokds commented on #34
Hi @PradeshKumar ,

Could you please post the details on the signers included in your template, or if attaching the entire template that would be helpful.

For offline Signing, SDK will always ask the signer to adopt a fresh signature for in-person or remote signers. You are using `Offline Signing`, right?

For online Signing, the behaviour differs based on the signer type (in-person vs remote) an

[2020-06-03 22:11] PradeshKumar commented on #34
Thanks @ashokds.

PFB the details of the signers:

[code]

Can't, I achieve using the following settings for a remote signer to adopt a fresh signature every time?

<img width="704" alt="signingSetting" src="https://user-images.githubusercontent.com/1768432/83694010-cdc4b980-a614-11ea-83c3-2fdcf9005b59.png">

Also, is there a way to change the activity indicator label message? and why, I'm getting

[2020-06-04 23:59] ashokmentor commented on #33
Could you please post the code snippet surrounding the call `DSMAppearance.setNavigationBarTitleTextFont` in your project.

One ideal place to invoke this method would be before presenting the signing ceremony. For example, in [DocuSignViewController in swift sample app](https://github.com/docusign/native-ios-sdk/blob/master/docusign-sdk-sample-swift/docusign-sdk-sample-swift/Controllers/DocuSignV

[2020-06-05 00:01] ashokds commented on #33
Could you please post the code snippet surrounding the call `DSMAppearance.setNavigationBarTitleTextFont` in your project.

One ideal place to invoke this method would be before presenting the signing ceremony. For example, in [DocuSignViewController in swift sample app](https://github.com/docusign/native-ios-sdk/blob/master/docusign-sdk-sample-swift/docusign-sdk-sample-swift/Controllers/DocuSignV

[2020-06-05 05:58] PradeshKumar commented on #33
Hi @ashokds,

I think, you're trying in an offline mode. Please check it in on online mode:

<img width="376" alt="navigationBarTitleIssue" src="https://user-images.githubusercontent.com/1768432/83841950-7fe8a800-a71f-11ea-8e9e-8c5d2cf1dea5.png">

**Note:** I'm using DocuSign SDK v2.2.5

[2020-06-09 09:09] PradeshKumar commented on #33
Any update @ashokds ?

[2020-06-12 05:21] ashokds commented on #32
Fixed with `v2.3.1`

[2020-06-12 05:21] #32 closed

[2020-07-15 13:44] maslovsa commented on #16
@iOSSDK-DocuSign
https://monosnap.com/file/3ob33HEMTXYrDVMUoOIQAvUtU3dAXc

[2020-07-17 08:59] maslovsa commented on #16
@iOSSDK-DocuSign
plz take a look on issue from App Store Connect

**ITMS-90381: Too many symbol files**

This issue connects with Bitcode using

[2020-07-18 00:55] thomas-dang commented on #16
Hi @maslovsa,

Thank you for the heads up. We'll take a look at this, and get back to you.

Thanks.

[2020-08-03 00:34] cbrian opened #42 "presentSendTemplateControllerWithTemplateWithId not loading/displaying our template after switching to token login with loginWithAccessToken()"
Our DocuSign In-App flow needs to be logined with access token instead of account id and pwd for better security.    So, we’re now switching to your loginWithAccessToken api from already working loginWithEmail api for embeded/inperson app signing flow .

Even though we got  loginWithAccessToken api to work with the access token from, https://developers.docusign.com/oauth-token-generator?, on user

[2020-08-04 04:14] thomas-dang commented on #42
Hi @cbrian,

Thank you for reaching out. Our team is taking a look, and we will get back to you.

Thanks.

[2020-08-04 23:31] KDP0123456 commented on #42
We found the problem, if we sign in with token and add the code below to our file, then the signing view(In-person) will not show up. Could you guys please help us with this?

[code]

[2020-08-05 07:53] ashokds commented on #42
Hi @cbrian ,

Thanks for adding additional details related to `recipientDefaults`. Please do make sure that the `roleName` and other other values match exactly for `@"8638fb2a-2a85-4c4e-8f1e-a9e64e37b340"` template in your test account.

[code]

Also, if these details don't match with the host account (account that is currently authenticated with SDK), SDK would create the envelope and immediately

[2020-08-05 16:55] KDP0123456 commented on #42
Hi @ashokds,

Thank you so much for your time to answer our questions.
All the values exactly matches the template, and the code works perfectly with `DSMManager loginWithEmail`, but `loginWithAccessToken`

[2020-08-05 16:57] KDP0123456 commented on #42
And completion returns no errors
[code]

[2020-08-05 22:01] cbrian commented on #42
Hi Ashok,  KDP was very right earlier that we are seeing a very critical native SDK api issue instead of just a configuration issue now.  The OAuth login call, loginWithAccessToken, isn't supposed to affect your SDK template api as this presentSendTemplateControllerWithTemplateWithId call as Matt suggested.   But, we're definitely seeing it changing the DocuSign template behavior from In-Person/Em

[2020-08-06 00:13] thomas-dang commented on #42
Hi @cbrian / @KDP0123456,

Just one quick confirmation. Does the `userName` and `email` values you pass in to `loginWithAccessToken` match the `recipientName` and `recipientEmail` you set on the `DSMRecipientDefault` object you pass in to `presentSendTemplateControllerWithTemplateWithId`? At minimum, those must match for our SDK to display the signing view for the template.

Also, when you do have

[2020-08-06 00:45] #42 closed

[2020-08-06 00:46] cbrian commented on #42
Will do right away and thanks so much for getting back early this time.

[2020-08-06 00:53] thomas-dang commented on #42
Hi @cbrian,

Sounds good.

I do recommend doing a quick check to confirm the following though (as I did notice some mismatch in the originally-posted code that might be causing the issue):

Thanks.

[2020-08-06 01:20] cbrian commented on #42
Hi Thomas, just emailed twice to iOSSDK@docusign.com and got it bounced back.  Do you have another email that we can contact you directly?

[2020-08-06 02:47] cbrian commented on #42
Thanks Thomas so much for the great help earlier and please update us with your findings on our other inquiries later.

[2020-08-06 07:18] areckkimo opened #43 "Fields not populating into template using Swift sample code"
**Information**

iOS version: 13.3
DocuSign SDK version: 2.3.4
Sample Code: swift

**Problems**
First, I download "docusign-sdk-sample-swift" from https://github.com/docusign/native-ios-sdk/tree/release/2.3.4/docusign-sdk-sample-swift, second, I follow the tutorial (https://developers.docusign.com/ios_sdk/developer.html) to edit the relative code of the swift sample project and create a new templa

[2020-08-06 16:57] ashokds commented on #43
Hi @areckkimo ,

Our team is taking a look.
Are you also passing a valid `recipientData`? Could you please add those details as well.

Thanks,
Ashok

[2020-08-06 18:11] ashokds commented on #43
Hi @areckkimo :

Adding some more details related to pass a valid recipient defaults object.

Here is an example of the account that contains the Template, and this account will be the host for IPS (In Person Signer).
<img width="302" alt="Account-name-email" src="https://user-images.githubusercontent.com/17131511/89566022-44786180-d7d4-11ea-908c-885964136dde.png">

Details from the Template with

[2020-08-07 03:09] areckkimo commented on #43
Dear ashokds:

The recipientData is 0 value.
![Jietu20200807-110744](https://user-images.githubusercontent.com/9306247/89604712-69d1a200-d89e-11ea-8972-5d43dde018cf.jpg)

[2020-08-07 03:19] areckkimo commented on #43
Dear @ashokds

I would like to implement the case like the case of this video. https://youtu.be/mSS-07bLHnc?t=835
but when I set the receipt as 'Needs to Sign', leading to `tabData` not populating into the template.

[2020-08-07 20:41] ashokds commented on #43
Hi @areckkimo :

Thanks for adding the details related to `recipientData`.

^ This indeed is the root cause that's resulting in the `tabData` not getting populated in your app. If the client app doesn't set a valid `recipientData: [DSMRecipientDefault]` (count should be non-zero), the `tabData dictionary` is also not applied.

Did you try adding a DSMRecipientDefault object to the recipientData ar

[2020-08-10 07:48] akshays-sdei opened #44 "Docusign iOS SDK integration issue in custom flow(in integrating own backend and docusign iOS SDK)"
We have our own app where we are integrating Doucsign iOS SDK,
What we are doing.
We are uploading PDFs from backend using Docusign API, and then this uploaded PDF needs to be opened in iOS App, using Docusign SDK.
For that we are using iOS SDK call,

[code]

but we are unable to load the PDF using template id, it also needs recipient data, but we are not adding recipient data while uploading the

[2020-08-10 18:01] ashokds commented on #44
Original questions over stackoverflow:

- https://stackoverflow.com/questions/63312170/docusign-ios-sdk-integration-issue-in-custom-flowin-integrating-own-backend-and/63335134#63335134 [Answered over there]

- https://stackoverflow.com/questions/63340118/docusign-ios-sdk-directly-sending-envelope-without-opening-anything-also-not-ask/63345485#63345485 [Currently open question, adding the same deta

[2020-08-11 04:39] akshays-sdei commented on #44
I did the changes you asked for,
i was able to open the pdf for signature when i have passed my account credentials which i use to login in docusign as a recipient.
SO the recipient which i am passing should be a docusign user or can i pass any email and name and still open the pdf and take signature.
or the user must be a docusign user to sign the pdf.

[2020-08-11 10:25] ashokds commented on #44
Hi @akshays-sdei

Nice!

It depends, what kind of signer it is.

For "Need to sign" i.e. "Remote Signers":
- Online/Offline signing mode: It must be a DocuSign user to immediately start the signing process on the device using templates. If name/email is added for a non-DocuSign user, SDK would bring the created envelope to "sent" status and send the notification (given no local signers pending); i

[2020-08-17 11:41] scheung38 opened #45 "[Question] react-native support"
Hi I do see native iOS support, but cannot see react-native support, how to query existing sandbox from react-native

[2020-08-17 11:58] LarryKlugerDS commented on #45
Hi,
Unfortunately we don't have a specific SDK for react-native support.
I'd suggest that you call the API directly as needed.

What platforms are you targeting for your application?
Are you building the app for your company, or for a client?
Can you say anything about the use case or purpose of your application?
Thanks,
Larry

[2020-09-09 10:32] sparks2209 opened #47 "Signing document in iOS Application"
Hi,

Is there a way where i can open pdf document in iOS application bundle and give signature.

I looked at examples most of them are creating template in DocuSign portal and using TemplateID.

In my case my document will be iPhone app and user need to sign the document and same need to be saved to bundle.

Thanks

[2020-09-15 07:59] rdougan commented on #22
This appears to be broken again in the latest release. Reverting to `2.2.3` resolves the issue. I'm using CocoaPods.

[2020-09-15 20:57] ashokds commented on #22
Hi @rdougan ,

Please add the details on the error you are facing with `v2.3.5`, a screenshot or error-description would be helpful to debug this further and unblock you.

We found that the `Tools.Bundle Info.plist` for `v2.3.5` doesn't have the `CFBundleExecutable` entry. It was removed to patch the original issue found with `v2.2`.

Thanks for reporting!

[2020-09-17 20:18] ashokds commented on #22
@rdougan ,

Would you be able to submit the error details to help us reproduce it at our end?
Also, are you submitting a new app or an update to an existing app?

Thanks.

[2020-09-27 07:10] prakshapan opened #48 "Black Background while Initiating Template"
Hello, We have been looking for a PDF Document Signer and stumbled upon your SDK and   been experimenting with the provided SDK to check if it fits our needs. However I have been facing following issues :-

1) While loading Template for confirmation the background goes completely black, is this normal?
<img width="325" alt="Screen Shot 2020-09-27 at 12 47 01 PM" src="https://user-images.githubuser

[2020-09-27 11:00] ARazaAnjum opened #49 "React Native support"
Hi, do you have also support for React Native?

[2020-09-28 20:34] augustocollerone commented on #12
Hi @thomas-dang,

Just wanted to check if this feature is already implemented since when I try to open an envelope ID that was created on the server I get an empty full screen view controller on the iOS SDK.

Thanks

[2020-09-29 20:17] ashokds commented on #12
Hi @augustocollerone ,

Yes, this feature is publically available.

Have you registered for the notifications (`DSMSigningCancelledNotification` & `DSMSigningCompletedNotification`) that gives more information if *Online Signing* exits because of any errors, say authentication failure or if the logged-in user doesn't have access to the envelope. Please note that for Captive/Embedded signing envelo

[2020-09-29 20:24] ashokds commented on #49
Hi @ARazaAnjum ,

SDK as of `v2.3.5` doesn't officially support the ReactNative. Are you in touch with any of the DocuSign support professional to help with this ask?

Thanks.

[2020-09-29 20:32] ashokds commented on #48
Hi @prakshapan ,

SDK as of `v2.3.5` doesn't support `Dark Mode`. Please confim if the issue persist after switching to `light-mode`. It would help to share more details on your integration, so that we may prioritize it.

It supports the Only Portrait mode on iPhone, there are a few code changes required on the host-app to accomplish it. I'll follow up with a link to a guide that would help you ge

[2020-09-29 22:53] ashokds commented on #49
@ARazaAnjum ,

Update: It's on SDK roadmap to have official ReactNative support with Q1 2021 release.

[2020-10-01 19:29] augustocollerone commented on #12
Hi @ashokds. Thank you for your response,

### My implementation of the DocuSign SDK:
[code]

The envelope ID is provided by the server, I'm not getting any errors on this method completion handler nor on the before mentioned notifications. Is there any other method on the DocuSign SDK that I should be using to accomplish the desired flow?

### This is the result I'm getting:
![IMG_0147](https://u

[2020-10-01 20:15] augustocollerone opened #50 "Present compose view controller with envelope ID"
Hi!

We are integrating the DocuSign SDK into our native app but we are unable to replicate the experience we currently have on the web witch also integrates DocuSign.

What we would like to accomplish is that the server uploads the files and creates the envelope, then it sends the envelope ID to the app witch goes into the compose screen. This would allow the user to modify, delete or add new tab

[2020-10-01 20:18] ashokds commented on #12
Hi @augustocollerone ,

Most of the errors & success related information is reported back with the following notifications:

- `DSMSigningCancelledNotification`
- `DSMSigningCompletedNotification`

Details in above comment.

Also, need to register for these notifications with the object that remains active in the background while the SDK components are active. So if the listening viewControllers i

[2020-10-04 18:48] mjzandona opened #51 "Online Mode: Duplicate entries not populating"
I have two identical templates, one I use for offline signing and one for online (email) signing.  The offline template works fine.  However, when I use the online template, any tab data that populates over multiple fields shows as blank.  For example, I have a field called customerName in 8 spots throughout my envelope.  None of the fields are populating during the signing ceremony.  Again, the f

[2020-10-04 18:54] mjzandona commented on #51
Oh.  And I was able to confirm this by changing one field to customerName1 and setting my tabData to "customerData1" and then that field was able to populate in online mode.

[2020-10-07 04:45] ashokds commented on #51
Hi @mjzandona ,

We'll follow up on this: Why all of the fields with the same name during Online signing aren't getting updated.

Thanks!

[2020-10-07 04:52] ashokds commented on #51
@mjzandona : Would it be possible to add the template that's resulting in the behaviour.

Guide to download template: https://support.docusign.com/en/guides/ndse-user-guide-download-template

[2020-10-07 04:59] ashokds commented on #50
Hi @augustocollerone ,

This feature is not yet available in the DocuSign iOS SDK. Currently it only allows to start a new envelope with `presentComposeEnvelopeController...` which would present a UI componet to add documents to envelope on the device.
SDK, as of v2.3.5, doesn't allow resuming a draft with the compose flow.

Are you in touch with any of the Account Specialist or Support Profession

[2020-10-07 05:01] #50 closed

[2020-10-07 05:01] #49 closed

[2020-10-07 05:02] ashokds commented on #45
Link: https://github.com/docusign/native-ios-sdk/issues/49

[2020-10-07 05:02] #45 closed

[2020-10-07 05:03] ashokds commented on #48
Hi @prakshapan , Waiting for response.

[2020-10-07 08:02] prakshapan commented on #48
Hello @ashokds ,
Thank you for following up and sorry for the late response.
I have integrated DocuSign (2.3.5) with following configuration.

Xcode: 11.5
Simulator: iPhone X (13.5)
Dark Mode/Appearance is turned off.
Also I have used
User Interface Style: Light  in Info.plist.
Still the issue persist.
 For implementation I am wrapping the Viewcontroller in a UIViewControllerRepresentable to make

[2020-11-02 13:36] LarryKlugerDS commented on #51
Closing due to age of last activity.
Please respond if this is still an issue.
Thank you.

[2020-11-02 13:36] #51 closed

[2020-11-02 13:37] LarryKlugerDS commented on #48
Closing due to age of last activity.
Please respond if this is still an issue.
Thank you.

[2020-11-02 13:37] #48 closed

[2020-11-02 13:37] LarryKlugerDS commented on #44
Closing due to age of last activity.
Please respond if this is still an issue.
Thank you.

[2020-11-02 13:37] #44 closed

[2020-11-02 13:38] LarryKlugerDS commented on #43
Closing due to age of last activity.
Please respond if this is still an issue.
Thank you.

[2020-11-02 13:38] #43 closed

[2020-11-02 13:39] LarryKlugerDS commented on #34
Closing due to age of last activity.
Please respond if this is still an issue.
Thank you.

[2020-11-02 13:39] #34 closed

[2020-11-02 13:40] LarryKlugerDS commented on #33
Closing due to age of last activity.
Please respond if this is still an issue.
Thank you.

[2020-11-02 13:40] #33 closed

[2020-11-02 13:43] LarryKlugerDS commented on #47
I have asked our engineering group to respond to your question. I'm sorry for the slow response, we're changing our processes to speed things up for the future.

[2020-11-04 06:37] ashokds commented on #47
@sparks2209 ,

iOS-SDK supports using pdf documents to start composing the envelopes to get signatures. The catch is that it requires the pdf-documents to be present in the Files app, and it presents an SDK UI component to add pdf-documents, recipients, and other details to initiate an envelope for capturing a signature. Here is the UI component you would see if you use `presentComposeEnvelopeCont

[2020-11-10 11:59] rahulp108 opened #54 "Not able to load Docusign Form"
I am using DocuSign SDK since last year. We implemented DocuSign iOS SDK for Signing feature on PDF. It was working fine till August month. But later that it stopped working. My previous SDK version was. 2.3.1 and current version is 2.3.7. In both version I am not able to open form in application.

We are using  below method in Swift  base code

- (void)presentSendTemplateControllerWithTemplateWit

[2020-11-12 09:43] ashokds commented on #54
Hi @rahulp108 ,

Given that you are using templates flow, there are some suggestions to help you debug:
- Likely, something was changed in the template during August that caused the signing process to fail. Could you please ascertain if that is the case? And if possible attach the template here. [Downloading Templates](https://support.docusign.com/en/guides/ndse-user-guide-download-template)
- Doc

[2020-11-12 18:14] #47 closed

[2020-11-12 18:14] ashokds commented on #47
Closed because of age. Please reopen if still an issue.

[2021-01-04 19:08] thepost opened #55 "Is tvOS supported in the iOS SDK?"
I'm investigating whether I can use this SDK for my client's TV app, and I saw that these permissions were [required in the plist](https://developers.docusign.com/ios_sdk/developer.html):

- CAMERA: tvOS can access the photos via **PhotoKit**, but it doesn't have a camera ✅❌
- CONTACT: tvOS can't access contacts ❌
- LOCATION: tvOS can access the location via **CoreLocation** ✅

Are these _optional

[2021-01-05 01:10] thomas-dang commented on #55
Hi @thepost,

We currently do not support using our iOS SDK in tvOS apps. However, would you be able to provide additional details on your  desired workflow? That will help us evaluate it for our future roadmap.

Thanks.

[2021-01-05 17:11] thepost commented on #55
Thanks. Are there any technical limitations preventing someone from using the **Click API** (with no signature) on tvOS?

Or is it just that you don't support tvOS in the SDK?

[2021-01-05 19:26] thepost commented on #55
Great, thanks for confirming. We'll be using the SDK for iOS/iPad too, so I'll have a better idea of the workflow to help you with the roadmap soon. 🙂

[2021-02-18 21:16] paulcirstean-yonder opened #57 "Programatically set the document and recipients for a new envelope"
I have recently started to look at the DocuSign native iOS SDK. I am trying to create a new envelope (to be sent via email for signing) by setting the recipients and the documents programatically (not going through the presentComposeEnvelopeController flow which requires users to manually select the files and recipients).

I can use the DocuSignESign framework (to make direct API calls) but then I

[2021-02-18 21:31] ashokds commented on #57
Hi @paulcirstean-yonder ,

We recently added this feature and associated release `Native-iOS-SDK v2.4` (currently in beta) is now available for you to try. Details on the implementation are here: [compose envelope guide](https://github.com/docusign/native-ios-sdk/blob/release/2.4/Compose-Envelope.md#v1-compose-envelope---programmatically-beta)

### ChangeLog: [v2.4] - 02/05/2021 - Beta
#### New in

[2021-02-18 22:42] paulcirstean-yonder commented on #57
Hi @ashokds . Thanks for the quick reply. This is what I'm looking for.

Any idea why I'm getting this exception when I'm trying to initialise a DSMDocumentBuilder: "terminating app due to uncaught exception 'DSMDocumentBuilderException', reason: 'Document Error Occurred'".

This is how I initialize the builder:
let document = DSMDocumentBuilder()
            .addName("UtilityBill")?
            .

[2021-02-19 13:06] paulcirstean-yonder commented on #57
Hi @ashokds . I was able to solve the DSMDocumentBuilderException by using Bundle.main.path(forResource:) instead of Bundle.main.url(forResource:).

I can now create programatically remote envelopes but how can I use the built in DocuSign UI to add fields (signature, text, date, name, initials etc.). Is there a way to do that or should we build our own view controller to add fields and create tabs

[2021-02-19 18:30] ashokds commented on #57
Hi @paulcirstean-yonder ,

👍

As of v2.4 beta, SDK either allows full UI control (i.e. using compose ui to add documents, recipient, email-details and later tabs) or programatic way to define the entire envelope (documents, recipient and tabs along with other details). If the tab details (tab-type, location-on-pdf, tab-dimension, etc) are well known for most of the cases, I would recommend using t

[2021-03-09 18:23] ashokds commented on #57
Hi @paulcirstean-yonder ,

v2.4 has been released publicaly. Please use `pod update 'DocuSign'` to get the latest pod.

Compose Envelope Guide has helpful instructions to get started with programmatically setting the document and recipients for an envelope.
https://github.com/docusign/native-ios-sdk/blob/v2.4/Compose-Envelope.md

I'll close this issue.
Thanks.

[2021-03-09 18:23] #57 closed

[2021-03-09 18:26] ashokds commented on #55
Hi @thepost ,

v2.4 is the latest available sdk version. It now supports compose-envelope for programmatically setting documents, signers and tabs for an envelope.

You may use `pod update 'DocuSign'` to fetch the latest `v2.4` release.

I'll close this issue, as official support for tvOS is not yet planned for immediate support.

Thanks.

[2021-03-09 18:26] #55 closed

[2021-03-09 18:27] ashokds commented on #54
Hi @rahulp108 ,

Closing this because of lack of activity, please open a new issue if needed.

Thanks.

[2021-03-09 18:27] #54 closed

[2021-03-15 13:11] allymf opened #62 "Swift Package Manager"
I'm working in a project that doesn't use CocoaPods. Do you intend to support Swift Package Manager?

[2021-03-20 00:38] ashokds commented on #62
Hi @allymf ,

Swift package manager is pending prioritization on our product roadmap. Are you working with someone on the DocuSign Customer Support team?

Also, it would help if you could share more details on your use-case (offline signing, templates, etc).

Thanks.

[2021-03-22 20:28] tutucmarin opened #65 "DocuSign conflict with other pods"
After installing the DocuSign pod, I've got two existing pods not working, the [MessageKit](https://github.com/MessageKit/MessageKit) and [ROX](https://docs.cloudbees.com/docs/cloudbees-feature-management/latest/getting-started/ios-sdk).

**MessageKit** - If calling the `DSMManager.setup()` before showing the MessageKit ViewController, the app crashes with the below error:
`Fatal error: MessageKit

[2021-03-22 22:00] ashokds commented on #65
Hi @tutucmarin ,

`DSMManager.setup()` from the `AppDelegate` or any other place (say a view-controller) should be fine as long as it's done before making other sdk calls. There are some `UIColor+Extensions` in iOS SDK, though they shouldn't interfere with any other similar `UIColor` extensions in other pods.

It would be the best to get our hands on a Sample app that successfully reproduces these

[2021-03-23 08:06] tutucmarin commented on #65
Hi @ashokds!

Thanks for a quick answer.
Here's the sample app - https://github.com/tutucmarin/DocuSign-issue.git

Here are the instructions on how to replicate the issues:

**How to replicate the issue with MessageKit:**

1. Make sure the DocuSign and MessageKit pods are installed
2. In AppDelegate, uncomment line 20 (`DSMManager.setup()`)
3. Run the app

As a result, the app will crash.
If you r

[2021-03-24 21:51] soufianeEssabbane opened #66 "Simply presentSendTemplate"
---

[2021-03-25 09:49] tutucmarin commented on #65
Hi, @ashokds !

Any updates so far?

[2021-03-25 21:01] soufianeEssabbane opened #67 "Display a template with DS EU Advanced with SMS"
Hi,

Can you please assist because we are literally struggling there's no way to find any example or documentation to show case or assist in how can we present a document that needs sms for signature using iOS/Android SDK.

based on the documentation in order to present a template with id you need to use **DSMTemplatesManager**, this manager takes in parameters an **DSMEnvelopeDefaults**, which co

[2021-03-26 10:18] soufianeEssabbane commented on #66
Hi @ashokds @iOSSDK-DocuSign here's a link to a more elaborated question https://github.com/docusign/native-ios-sdk/issues/67#issue-841304816 please assist

[2021-03-26 16:05] #66 closed

[2021-03-26 16:05] soufianeEssabbane commented on #66
created a better question

[2021-03-26 17:52] ashokds commented on #65
Hi @tutucmarin ,

Thanks a bunch for uploading the project that reproduces the issues you reported and other relevant details.
We are taking a look and will post update here.

[2021-03-29 17:30] ashokds commented on #65
Hi @tutucmarin ,

Regarding the "MessageKit" issue. Noticed that the installed "MessageKit" pod has an asset group `Assets.xcassets` under `Resources` that isn't included in the `MessageKit.framework` target membership. Editing it locally, ended up fixing the error: `Fatal error: MessageKit: Could not load the color asset.: file MessageKit/UIColor+Extensions.swift, line 32`

Here is a screenshot t

[2021-03-30 13:05] soufianeEssabbane commented on #67
anyone to answer ?

[2021-03-30 17:41] ashokds commented on #67
Hi @soufianeEssabbane ,

Thanks for reaching out.

Unfortunately, as of current SDK version, it doesn't support the SMS based signatures for a sent document.

Are you working with a DocuSign Customer Support Professional? If yes, it would help to raise this issue with the DocuSign counterpart to get this on our roadmap with a formal request and get it prioritized.

[2021-04-08 11:00] ableigdev opened #73 "How to resolve totally app freeze after DocuSign login"
My app totally freeze after successful login to DocuSign

Here my code:

[code]

All closures have a success status but the app freezes and any DocuSign view controllers are not showing. But if in the second attempt I add the calling the logout before login - all works as expected

[code]

I have figured out that the total app freeze is occurring by the first app install. When I open an app that w

[2021-04-08 22:08] bharadwaj465 commented on #73
@ableigdev,

Thanks for reaching out to us. The app freeze may be due to one of the two reasons.

1.  DocuSignSDK might not have been initialized properly. We recommend initializing `DSMManager.setup()` on `applicationDidLaunch`.
2.  While composing a `DSMEnvelopeDefinition`, exceptions would have occurred. A **try-catch block** around the builders would give more information about the errors. We

[2021-04-09 11:13] ableigdev commented on #73
@bharadwaj465 ,

Thanks for the answer. I have checked my code again. The problem was consistent in that `DSMManager.setup()` called earlier than `applicationDidLaunch`. After I moved it to `applicationDidLaunch` the problem was resolved.

[2021-04-09 11:13] #73 closed

[2021-04-12 22:30] bharadwaj465 commented on #65
@tutucmarin,

**Regarding the second issue where the Rox framework was not fetching the `remote_value` when DocuSignSDK was integrated:**

We have manually integrated the framework available [here](https://github.com/docusign/native-ios-sdk/blob/master/DocuSignSDK.zip) to check if there is an issue with the framework and found that `remove_values` are being fetched properly.

<img width="1680" alt

[2021-04-12 22:41] bharadwaj465 commented on #65
To manually integrate our SDK, please find the steps [here](https://developers.docusign.com/docs/ios-sdk/developer.html). Go to `Integrations` tab.

[2021-04-26 14:36] paulcirstean-yonder commented on #57
Hi @ashokds. Sorry for the delayed response. We just restarted our work on the Docusign integration. We have a native iOS application where we store multiple documents. Our ambition is to select a document from our application and send it to DocuSign. Ideally, we would like to use the already existing UI from the Docusign SDK. Do you know if there are plans to allow for this option in a future rel

[2021-04-27 00:07] #65 closed

[2021-04-27 00:08] #62 closed

[2021-04-27 00:09] ashokds commented on #67
Opened an internal ticket to include it in the roadmap. Closing it as `SMS Auth` is not available on native-ios-sdk.

[2021-04-27 00:09] #67 closed

[2021-04-28 09:24] pushp1010 opened #77 "Facing issue in running docusign-sdk-sample-swift"
I tried running the sample app docusign-sdk-sample-swift

Where it gave an error SVProgresshud is not found. Which is of no use for me then I tried by removing SVProgresshud  which I thought should also work and could of more issues which you need to fix like Standard architecture.

Environment:
1. Xcode 12.4
2. pod version 1.10.1

<img width="930" alt="Screenshot 2021-04-28 at 2 48 13 PM" src="ht

[2021-04-30 00:12] ashokds commented on #77
Hi @pushp1010

I verified the `docusign-sdk-sample-swift` on the [`master` branch](https://github.com/docusign/native-ios-sdk/tree/master/docusign-sdk-sample-swift) with `Xcode12.4` and `cocoa pods 1.10.1`. The swift sample app is working as expected on simulator and devices.

Following the [readme instructions](https://github.com/docusign/native-ios-sdk/blob/master/docusign-sdk-sample-swift/READM

[2021-05-03 14:07] pushp1010 commented on #77
@ashokds
Sorry for the Delay in response

Below is the exact error I am getting while try command "pod install"

[!] Unable to find a specification for `SVProgressHUD`

You have either:
 * out-of-date source repos which you can update with `pod repo update` or with `pod install --repo-update`.
 * mistyped the name or version.
 * not added the source repo that hosts the Podspec to your Podfile.

[2021-05-03 16:24] ashokds commented on #77
@pushp1010 ,

Your cocoapods cache would need updating with `pod repo update` or `pod install --repo-update`. Did you try this suggestion?

It takes a while to complete the pod cache update. Once the pods are updated, try `pod install` (if only did update before).

[2021-05-04 04:57] pushp1010 commented on #77
@ashokds

Here is log when I tried "pod repo update"

Updating spec repo `cocoapods`
  $ /usr/bin/git -C /Users/<Systemname>/.cocoapods/repos/cocoapods fetch
  origin --progress
  remote: Enumerating objects: 4865458, done.
  remote: Counting objects: 100% (2388/2388), done.
  remote: Compressing objects: 100% (1139/1139), done.
  remote: Total 4865458 (delta 1249), reused 2244 (delta 1205), pack-

[2021-05-04 13:10] pushp1010 commented on #14
@ashokds Hi Ashok,

I tried building my Swift sample Where I am able to login but when I tried to set Tab data but it does not works for me.

below is the screenshot of the Text Id I am using. I am not sure what I am I doing wrong. based on the Documentation and my knowledge it should work.

<img width="979" alt="Screenshot 2021-05-04 at 6 30 23 PM" src="https://user-images.githubusercontent.com/5

[2021-05-04 15:49] ashokds commented on #77
@pushp1010 ,

These issues are related to `cocoapods` setup on your machine.

Time to time, `pods` cache gets corrupt and cocoapods needs a reset (complete removal and download). To reset pods, you may try suggestions in this post: https://stackoverflow.com/a/46428793/12413715 & https://gist.github.com/mbinna/4202236

At times, it's because of underlying `ruby` changes. It would need some extended

[2021-05-04 16:07] pushp1010 commented on #77
@ashokds Thanks  I will have a look on this and keep you posted on the same.

[2021-05-04 20:42] ashokds commented on #14
@pushp1010 , could you please open a new issue and link with this ( https://github.com/docusign/native-ios-sdk/issues/14 )

[2021-05-05 03:43] pushp1010 opened #78 "Fields not populating into template using Swift"
@ashokds @iOSSDK-DocuSign  Hi Ashok,

I tried building my Swift sample Where I am able to login but when I tried to set Tab data but it does not works for me.

below is the screenshot of the Text Id I am using. I am not sure what I am I doing wrong. based on the Documentation and my knowledge it should work.

I have only one template in my account.

<img width="979" alt="Screenshot 2021-05-04 at 6

[2021-05-05 03:44] pushp1010 commented on #78
https://github.com/docusign/native-ios-sdk/issues/14 This issue does not works for me please help

[2021-05-05 04:08] ashokds commented on #78
Hi @pushp1010 ,

Thanks for creating a separate issue and adding details with sample code.

I see that you are using [Text Custom Fields](https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/envelopecustomfields/).

[code]

This would add a `text custom field` to the envelope, and it'll be part of the `certificate of completion`. These fields won't update any Text based tabs, ra

[2021-05-05 04:09] ashokds commented on #77
Closing as it's been resolved.

[2021-05-05 04:13] pushp1010 commented on #78
Sorry But did not get

`envelopeDefaults.tabValueDefaults = ["Text 06a6bafd-991f-438c-8df2-2f13dc114609","jas"]
`

I believe this [string: string] in swift then it should

``envelopeDefaults.tabValueDefaults = ["Text 06a6bafd-991f-438c-8df2-2f13dc114609": "jas"]
``

Then it should show the data in the template right?

[2021-05-05 04:50] pushp1010 commented on #77
@ashokds  it is not resolved yet!

[2021-05-05 05:21] ashokds commented on #78
It should be working for your setup. Could you please attach the template json here: [how to download template](https://support.docusign.com/en/guides/ndse-user-guide-download-template).

Also, when you start the online signing ceremony using SDK, do you see your envelope-document with the text-tab?

Note: By default, SDK usage `DSMTabComparisonStrictMatch` for `tabLabel` comparison. In `AppDelega

[2021-05-05 05:38] ashokds commented on #77
@pushp1010, This is cocoapods related error: `fatal: ambiguous argument 'HEAD': unknown revision or path not in the working tree.`

Additional suggestions on CocoaPods project to resolve the corrupted pods: https://github.com/CocoaPods/CocoaPods/issues/6077

[2021-05-05 05:47] pushp1010 commented on #78
can we jump on a quick call on teams?

[2021-05-05 06:11] pushp1010 commented on #78
Here is the downloaded template
[DocuSignTemplates_May_5_2021_05_49_34.zip](https://github.com/docusign/native-ios-sdk/files/6425285/DocuSignTemplates_May_5_2021_05_49_34.zip)

[2021-05-05 07:19] ashokds commented on #78
Looking at the template json, `tabLabel` is set as `Text Fullname` on the template. (From JSON: `"tabLabel": "Text Fullname",`)

Try following: `let tabData1: [String: String] = ["Text Fullname": "jas"]`

for `"templateId": "ce4adbf7-c840-4807-befd-304ed5eb9ab0",`

[2021-05-05 07:36] pushp1010 commented on #78
@ashokds Yeah I tried with sam but still no success yet! Waiting for you over zoom call See you there 😊

[2021-05-05 08:56] ashokds commented on #78
Glad that it worked after the meeting.

Good to note here that SDK and DocuSign APIs does case sensitive matching for the signer name/email.

Another note regarding `prefillTabs`, sdk doesn't support `prefillTabs` and will skip these.
[code]

Thanks.

[2021-05-15 12:23] SayaniC opened #80 "Envelope is ready for sync and cannot be resumed for signing."
Hi,

I want to sign a PDF, which is present in the ios application bundle.
DSMEnvelopesManager().composeEnvelope(with: envelope, signingMode: .offline) { (envelopeId, error) in
                print(envelopeId)
                if let envelopeId = envelopeId {
                    DSMEnvelopesManager().resumeSigningEnvelope(withPresenting: self, envelopeId: envelopeId) { (controller, error) in

[2021-05-15 12:54] SayaniC commented on #80
Also, if I try to composeEnvelope in online mode then envelopeId is returning nil and not able to proceed after that.

[2021-05-18 07:16] SayaniChakraborty commented on #80
Adding few more questions:
1) Not able to set tabValueDefaults. It's not working in the sample project as well. I saw the solutions mentioned (adding DSMRecipientDefault), but that also did not work.

2) Is there a way to bypass the recipient screen and directly take the user to the signing page?

[2021-05-18 11:35] SayaniC commented on #80
Adding few more questions:

1. Not able to set tabValueDefaults. It's not working in the sample project as well. I saw the solutions mentioned (adding DSMRecipientDefault), but that also did not work.
2. Is there a way to bypass the recipient screen and directly take the user to the signing page?

[2021-05-18 11:42] bharadwaj465 commented on #80
@SayaniC ,

#### 1:`Getting error "Envelope is ready for sync and cannot be resumed for signing." when I call resumeSigning.`
This error would occur when there are no pending local signers to sign the document. To perform signing, the recipient should be either an in-person signer of the host or the host.

If the recipient is a remote signer other than the host (the one who logged into the DocuSig

[2021-05-18 17:30] SayaniChakraborty commented on #80
@bharadwaj465,

1. If the recipient is a remote signer other than the host (the one who logged into the DocuSignSDK), you can only sync the offline envelope. ---- Did not understand. Does this mean online flow will not work at all?
In my case host and signers are different. In person signer worked for me only in offline mode and after that DSMEnvelopesManager().syncEnvelopes() did not work. I am n

[2021-05-19 13:21] bharadwaj465 commented on #80
In your case, after the in-person signer signs the envelope, it will be sent to the **remote signer** after the sync. A remote signer can sign the envelope from `the email received/Docusign's Web portal/Docusign's Mobile App.` You can listen to our [sync notifications](https://developers.docusign.com/docs/ios-sdk/refdocs/html/_d_s_m_notification_codes_8h.html) for more details about the envelope.

[2021-05-20 11:15] SayaniChakraborty commented on #80
@bharadwaj465 Thanks for the response!

But my issue is after signing the envelope in offline mode, DSMEnvelopesManager().syncEnvelopes() is failing. I already added the sync envelope notification observers.

Let me know if you need any additional info.

[2021-05-20 12:50] bharadwaj465 commented on #80
@SayaniC ,

1) When sync fails, you would receive `DSMEnvelopeSyncingFailedNotification.` Could you please add `userInfo` details on `DSMEnvelopeSyncingFailedNotification` ?

2) Please attach a sample project with the code used for integrating DocuSign flows (like envelope creation, setting defaults for the template used)?  Please remove all the sensitive information like `integrator key`, `email

[2021-05-20 15:49] SayaniChakraborty commented on #80
@bharadwaj465
Failure response:
Optional([AnyHashable("transactionId"): E4210BC3-BC09-48AD-B118-59ADCE298550, AnyHashable("cacheURI"): E4210BC3-BC09-48AD-B118-59ADCE298550, AnyHashable("envelopeId"): E4210BC3-BC09-48AD-B118-59ADCE298550])

[2021-05-20 15:50] SayaniChakraborty commented on #80
Not able to attach the sample project. It's failing. PFA the controller file.

[ViewController.swift.zip](https://github.com/docusign/native-ios-sdk/files/6517207/ViewController.swift.zip)

[2021-05-20 16:04] mm188200 opened #82 "Crash Upon Signature Capture"
I am able to present a captive signing session presenting the document with proper tabs and data filled in.  However once I draw a signature and select adopt I receive the following error :

2021-05-20 11:48:02.759254-0400 Clip[40326:9697119] *** Terminating app due to uncaught exception 'Invalid parameter', reason: 'Missing the required parameter `recipientId` when calling `createTabs`'

the code

[2021-05-20 18:00] mm188200 commented on #82
Disregard old version of Docusign was being used

[2021-05-20 18:00] #82 closed

[2021-05-26 13:31] pushp1010 opened #83 "Local Signer not able to sign the document in app where as it should be asked for signature."
@ashokds

Hi Ashok,

I am trying to fetch template list and try to sign it locally and send it to be signed by other recipients.

While trying to Sign the template locally it is not launching the view it always give me "Warning: Encountered `nil view` during signing.". I am local signer who is logged in. The only `Signer,` I have is local sign that is me. but not sure why it keeps on sending the e

[2021-05-27 04:57] #78 closed

[2021-05-27 12:57] pushp1010 opened #84 "Not able to login"
Not sure  Why I am getting below error

Account: Optional(<DSMAccountInfo: 0x6000011e8540>), Error: Optional(Error Domain=user.additional.data.fetch.error Code=-1011 "Unable to fetch additional data for user - The URL provided does not resolve to a resource. Consumer Disclosure does not exist." UserInfo={DSM_com.alamofire.serialization.response.error.response=<NSHTTPURLResponse: 0x600003504620> {

[2021-05-30 17:50] vietnguyebkhn commented on #84
Have you solved the problem yet?
I am also facing the same problem in SwiftUI demo. I can't login with login withAccessToken

[2021-06-01 13:15] pushp1010 opened #85 "How to create a document from DSMEnvelopeTemplateDefinition?"
In android,

While it is not available in iOS. how can I get the same @ashokds  please suggest

[2021-06-01 13:20] pushp1010 commented on #84
@vietnguyebkhn  Unfortunately no

[2021-06-04 18:42] saimt commented on #84
Hi, I'm facing the same error. Any luck so far?

[2021-06-04 22:33] ashokds commented on #84
Hi @vietnguyebkhn , @pushp1010 , @saimt :

Please note that [`v2.5` deprecated the legacy login methods](https://github.com/docusign/native-ios-sdk/blob/master/CHANGELOG.md). And only supported method `v2.5` onwards is `loginWithAccessToken`.

[`v2.4.1`](https://github.com/docusign/native-ios-sdk/tree/v2.4.1) is the last version that didn't deprecate the legacy login methods.

Deprecated `loginWit

[2021-06-04 22:35] ashokds commented on #84
Regarding `Unable to fetch additional data for user - The URL provided does not resolve to a resource` error:

Please create a `Consumer Disclosure` on the account by following this guide: https://support.docusign.com/en/guides/ndse-admin-guide-legal-disclosure

Thanks.

[2021-06-21 08:35] JuroJ opened #88 "French localization doesn't contain all texts"
DocuSignSDK.bundle/fr.lproj/DocuSignSDKLocalizable.string misses Signing.Adopt string. It causes following UI defect:
![image](https://user-images.githubusercontent.com/45685180/122732256-63f96b00-d27c-11eb-95b4-b66c29545f3a.png)

[2021-06-21 16:37] ashokds commented on #88
Hi @JuroJ ,

Thanks for reporting this issue. We've created a ticket to track it and add is as part of next release (July).

[2021-06-23 10:13] pushp1010 opened #89 "DSMDocument build keeps on failing with below error after Upgrading library 2.4.1 -> 2.5.2"
@ashokds
DSMDocument build keeps on failing with below error:

*** Terminating app due to uncaught exception 'DSMDocumentBuilderException', reason: 'documentId, name, and filePath are required.'
*** First throw call stack:
(
	0   CoreFoundation                      0x00007fff20421af6 __exceptionPreprocess + 242
	1   libobjc.A.dylib                     0x00007fff20177e78 objc_exception_throw + 48

[2021-06-28 11:35] SayaniChakraborty opened #90 "Is there a way to hide template recipient view in online signing mode?"
<img width="397" alt="Screenshot 2021-06-28 at 4 58 30 PM" src="https://user-images.githubusercontent.com/25504092/123630152-cd581b80-d832-11eb-80fb-d33005bb57d3.png">

[2021-06-28 11:36] SayaniChakraborty commented on #80
Any update on this issue?

[2021-06-29 15:36] SayaniChakraborty opened #91 "Not able to set navigation bar appearance"
Using the following functions for setting it.

DSMAppearance.setNavigationBarTintColor(UIColor.red)
DSMAppearance.setBarButtonItemsTintColor(UIColor.white)

[2021-06-29 15:40] SayaniChakraborty opened #92 "Help needed for setting brandId"
Can you please provide a sample code for setting brand id while presenting a template?

[2021-07-28 18:44] jnotting opened #93 "Question regarding documentId parameter"
We are trying to create an envelope using the DSMDocumentBuilder class but ran into an issue when defining the documentId parameter.  The SDK documentation indicates documentId is a string however we see conflicting errors in the DocuSign API server logs.  We see in the DocuSign API server logs in the console an error that says: "The request contained at least one invalid parameter.  The documentI

[2021-07-28 19:05] dmartin00 commented on #93
Hello,

A Document ID does need to be a positive integer lower than 2147483647. Unfortunately, the current version of our API has parameters that are not correctly typed. We do have an internal project to strongly-type our API, but that looks to be a ways out.

[2021-07-30 16:36] jnotting commented on #93
Thank you.

[2021-07-30 16:36] #93 closed

[2021-07-30 16:39] jnotting opened #94 "Create Envelope API"
With the Android SDK, we are able to mimic our cloud API service by using DocuSign.getInstance().getESignApiDelegate().createApiService(EnvelopesApi::class.java) to create an envelope using a server template ID.

Is there an equivalent createAPI function for the iOS SDK that would allow us to accomplish the same thing or are there plans to implement one?  I was unable to find it in the documentati

[2021-07-30 22:06] bharadwaj465 commented on #90
@SayaniChakraborty you can add `recipientDefaults` when creating `DSMEnvelopeDefaults`. If all the recipients on the template have defaulted, you won't see the above UI.

[code]

Refer :  [Using Envelope Defaults](https://github.com/docusign/native-ios-sdk/blob/master/Using-Envelope-Defaults.md)

[2021-07-30 22:10] bharadwaj465 commented on #89
Thanks for reporting. We have addressed this issue and the fix is going to appear in the upcoming **version 2.5.3**.

[2021-07-30 22:18] bharadwaj465 commented on #83
@pushp1010 ,

Can you confirm if the signer name and email provided to `recipientDatum`,  exactly match with the account you logged in with? If they both mismatch, the SDK treats as the remote signer.

On SDK you can host signing only if you are the host or an in-person signer of the host.

[2021-07-30 22:23] bharadwaj465 commented on #85
When you are presenting a template with Id, you can insert an additional document.

[code]

[2021-07-30 22:28] bharadwaj465 commented on #91
This needs to be set only after DSMManager.setup() method.  Can you confirm if it's in right place?

[2021-07-30 22:54] bharadwaj465 commented on #94
You can use the following method listed on `DSMTemplatesManager` to create and sign the envelope from `templateId`.

Please refer this documentation for more details : [Present Template](https://developers.docusign.com/docs/ios-sdk/refdocs/html/interface_d_s_m_templates_manager.html#a61cd680e2fbcf03d822c2130a6e714b8) or [Present Template with defaults](https://developers.docusign.com/docs/ios-sdk/

[2021-08-12 02:30] Zerella opened #95 "How can the IOS docusignasdk obtain signature related data after signing? For example, signature content, location, date, etc"
How can the IOS docusignasdk obtain signature related data after signing? For example, signature content, location, date, etc

[2021-09-01 11:25] pushp1010 opened #96 "Having issue with envelop sync process"
@ashokds @Harinder @hassaan22 @jeff00seattle @stephenparish @thomas-dang

I am trying to sync all the envelopes which I have sign recently. but

`
   self?.envelopManager.syncEnvelopes()
`
Is able to sync one envelop at a time? Is there any way to fix this?

[2021-09-01 11:32] #83 closed

[2021-09-01 17:27] ashokds commented on #96
Hi @pushp1010 ,

`self?.envelopManager.syncEnvelopes()` syncs all of the offline signed envelopes.

Sync service only allows sending all envelopes when the client app triggers `syncEnvelopes()`.

Thanks.

[2021-09-01 19:15] pushp1010 commented on #96
@ashokds

Here are the cases

When I signed multiple documents and I can see the documents in cache but when i call “self?” , it sync only one document and leaves the other in cache.

When I have only one document in the cache, sync does not work. Even after calling it forcefully in SignCompleteNotificationCallback.

It always pick the top element present at first index and leaves the rest, even a

[2021-09-02 04:42] pushp1010 commented on #96
@ashokds @Harinder @hassaan22 @jeff00seattle @stephenparish @thomas-dang  We need help on this. Its urgent as we got stuck on it

[2021-09-02 17:07] ashokds commented on #89
@pushp1010 ,

`release/2.5.3-beta` has a fix for the `DSMDocumentBuilderException` you are seeing.

Could you please try this:
`pod 'DocuSign', :git => 'https://github.com/docusign/native-ios-sdk.git', :branch => "release/2.5.3-beta"`

[This guide's section 3](https://github.com/docusign/native-ios-sdk/blob/master/support-files/Integration-Troubleshooting.md) has more information on integrating sp

[2021-09-02 17:15] ashokds commented on #96
@pushp1010 ,

Added new info to [pull the fix](https://github.com/docusign/native-ios-sdk/issues/89) for issue #89, please check it.

Regarding sync, do you have listeners for sync related notifications in place and are you getting error with `userInfo` for failures `DSMEnvelopeSyncingFailedNotification`? Could you please try it on a fresh install app after upgrading to latest pod: `pod 'DocuSign'

[2021-09-03 12:32] pushp1010 commented on #96
@ashokds  Thanks for the reply.

I have all the Notification implemented but not getting error. I will prepare a video of this issue for you so that you can fix this in upcoming version

[2021-09-06 07:38] pushp1010 commented on #96
@ashokds below are the logs:

**I started with print the logs with notification**
**Local envelopID is below**
Optional([AnyHashable("envelopeId"): 284C5CBD-1F9A-44C9-AC25-00F05F376516, AnyHashable("signingMode"): offline])
envelopManager.cachedEnvelopes ["284C5CBD-1F9A-44C9-AC25-00F05F376516"]
**signCompleted successfully**. **SignCompletedNotification fired here  but there is not sync happening

[2021-09-07 08:30] pushp1010 commented on #89
@ashokds  Thanks for the update I tried using the way https://github.com/docusign/native-ios-sdk/blob/master/support-files/Integration-Troubleshooting.md but it did not work
<img width="1086" alt="Screenshot 2021-09-06 at 5 19 38 PM" src="https://user-images.githubusercontent.com/52121407/132311994-5d7f3d33-a15c-47a3-a3e3-fc3364123579.png">
.

[2021-09-07 17:20] ashokds commented on #89
@pushp1010 ,

Please add details on Xcode and cocapods version in use. Recommended Xcode version is `12.5.x` and cocoapods is `1.10.1`.

Also, for Section [`Fix: Ensure Client is fetching DocuSignSDK Binary`](https://github.com/docusign/native-ios-sdk/blob/master/support-files/Integration-Troubleshooting.md#fix-ensure-client-is-fetching-docusignsdk-binary). If your binaries under Pods/DocuSignSDK.

[2021-09-10 06:01] pushp1010 commented on #96
@ashokds  let me know when can we sync over this issue?

[2021-09-16 13:54] VadymLiakutin opened #98 "How corretly use DSMManager.login(withAccessToken:"
Now we add Auth token
DSMManager.login(
                withAccessToken: "eyJ0eXAiOiJNia2lkIjoiNjgxODVmZjEtNGU1MS00Y2U5LWFmMWMtNjg5ODEyMjAzMzE3In0.AQoAAAABAAUABwAAUOgTEnnZSAgAAJALIlV52UgCAAh2_vNW6T1CuseluTpL0LAVAAEAAAAYAAEAAAAFAAAADQAkAAAAZThmNjRiYTgtZTE4Ni00NDUyLTg2ZmEtZGE4NjcxMDhkNjJjIgAkAAAAZThmNjRiYTgtZTE4Ni00NDUyLTg2ZmEtZGE4NjcxMDhkNjJjMAAApf1vD3nZSDcAkmivoPiCpkWLhlgHVcHO8Q.i8S7YX3l8mQU0Ufq_h

[2021-09-22 21:58] ashokds commented on #96
@pushp1010 ,

Thanks for the meeting today and for walking us through your use case. In your current implementation, `DSMSigningCompletedNotification` is used to trigger `sync` immediately -- and it causes the sync to miss the `just signed envelope` as it's not saved on the device by that time.

Could you trigger `sync` when you receive the `DSMEnvelopeCachedNotification` instead? Envelope cached

[2021-09-24 09:32] VadymLiakutin opened #99 "UIViewController is missing its initial trait collection populated during initialization."
After update iOS to 15 version I was get this error.

Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'UIViewController is missing its initial trait collection populated during initialization. This is a serious bug, likely caused by accessing properties or methods on the view controller before calling a UIViewController initializer. View controller: <DSMPassVi

[2021-10-04 05:21] imroopesh-ai opened #101 "Support for PowerForms"
We are trying to integrate Docusign PowerForms into our healthcare service. We have a use case where all our patients need to eSign couple of forms before the treatment.

It would be great to have the Mobile SDK support PowerForms to easily sign the envelopes.

[2021-11-08 08:10] pushp1010 opened #103 "RadioGroup is not visible on the Documents"
@ashokds

We have template in which we are creating all the tabs based on our required. So what we are doing it composing a envelop via template using SDK inbuilt method

`composeEnvelope`

 As we have similar implementation for pre-filling  DSMText, DSMCheckbox, DSMDate and DSMSignHere all of them are working fine

But When it come to RadioGroup  we are not able the access the all the tabs in Rad

[2021-11-09 22:36] mmohareb commented on #103
Hello @pushp1010
We are trying to replicate this issue on our side,

I just want to understand more about the scenario, is this an existing template that has `radioGroupTab` that you are trying to capture to change, or are you trying to add a new `DSMRadioGroup` to and envelope?

if you have an existing one in the template, you can try fetching it using tabs.allTabs and filter on type .radio, alth

[2021-11-10 06:39] pushp1010 commented on #103
@mmohareb  @ashokds  @divya-vangara

we are trying with the below:

If you still need some more help to replicate it. To dig down more into it. Let's schedule a call and Please let me know when can we connect **I am available 24*7**?

Thanks,
Pushpendra

[2021-11-11 01:32] mmohareb commented on #103
@pushp1010
we found the root cause why this property is not publicly accessible and will expose it with our next Release.

Thanks

[2021-11-11 05:57] pushp1010 commented on #103
@mmohareb  When do  you have your next release?

[2021-11-11 09:12] pushp1010 opened #104 "App crash in iOS 15.1 when we are trying to launch compose and Send Envelope"
@ashokds

in iOS 15.1  app crases  when we try to composeEnvelop and resume signing Envelope in iOS 15.1

[code]

[2021-11-11 17:50] mmohareb commented on #103
@pushp1010
should be around 11/18

[2021-11-15 15:50] bencallis commented on #16
Is there any update on this? We are considering using Docusign in a financial app I am working on but the lack of Bitcode support is a major drawback.

[2021-11-15 15:51] bencallis commented on #62
Any update on SPM support?

[2021-11-15 15:57] bencallis opened #105 "Swift Package Manager support (SPM)"
We are considering using Docusign in a financial application I am working on. In this application we use SPM for all dependencies. Are there any imminent plans to add support for SPM to the docusign SDK? Without SPM support we may have to look at alternative providers SDKs..

[2021-11-15 16:05] bencallis opened #106 "Bitcode support"
We are considering using Docusign in a financial application I am working on. In this application we use Bitcode.

Are there any imminent plans to add support for Bitcode to the docusign SDK?

[2021-11-17 17:45] ashokds commented on #104
@pushp1010 : This has been fixed for the upcoming SDK release. The `v2.7` is planned for public release in the coming week.

Thanks.

[2021-11-17 17:48] ashokds commented on #106
@bencallis , Thanks for adding this question. Supporting `bitcode` is one of the priority items in the SDK roadmap. We will confirm the timelines in near future.

[2021-11-17 17:54] ashokds commented on #105
Hi @bencallis : Thanks for bringing the `Swift Package Manager` integration request. This is under discussion.

[2021-11-17 17:56] ashokds commented on #99
Hi @VadymLiakutin

Fix for this issue is planned for `v2.7` release in the coming week.

[2021-11-17 17:57] ashokds commented on #96
Marking it as resolved.

[2021-11-17 17:57] #96 closed

[2021-11-17 17:58] ashokds commented on #89
Closing this issue as the same setup on another machine worked for @pushp1010 .

[2021-11-17 18:00] #94 closed

[2021-11-17 18:02] ashokds commented on #101
Hi @imroopesh-ai :

`Powerforms` feature request has been added to the roadmap. Closing it for now as `captive signing` based integration is more favorable at this point.

Thanks for bringing it up.

[2021-11-17 18:02] #101 closed

[2021-11-17 18:06] ashokds commented on #92
Hi @SayaniChakraborty :

As of the latest release, iOS-SDK doesn't support configuring brand resources directly. It's best to use [the admin guide to configure brands](https://support.docusign.com/en/guides/ndse-admin-guide-configure-branding) directly on the DocuSign Web.

Please note that once the brand resources are configured, iOS-SDK would use those for **Online Signing**.

Thanks for bringin

[2021-11-17 18:07] #92 closed

[2021-11-19 00:19] #99 closed

[2021-11-19 00:19] #103 closed

[2021-11-19 00:19] #104 closed

[2021-11-19 00:22] mmohareb commented on #104
https://github.com/docusign/native-ios-sdk/pull/107

[2021-11-19 00:22] mmohareb commented on #103
https://github.com/docusign/native-ios-sdk/pull/107

[2021-11-19 00:22] mmohareb commented on #99
https://github.com/docusign/native-ios-sdk/pull/107

[2021-11-22 12:04] bencallis commented on #105
Thanks for the reply. Please keep us posted on when/if you plan to include support for this.

[2021-11-22 12:05] bencallis commented on #106
Thanks for the reply. Please keep us posted on when you plan to include support for this.

[2021-11-23 13:52] pushp1010 commented on #103
Now we are able to access  radioGroupTabs via below code but this issue still exists as DSMEnvelopeTab.builder does not

[code]

But DSMTabBuilder does has radioGroup type expose outside to that we can create a radio groups because of which we are still not able to create radio groups and see the Radio groups on the envelope. Please help us with the sample code so that we can achieve the same

<im

[2021-11-24 06:19] pushp1010 opened #108 "Radio Group is not visible in Envelope"
@ashokds @mmohareb

Now we are able to access  radioGroupTabs via below code `recipient.tabs.radioGroupTabs` but this issue still exists as DSMEnvelopeTab.builder does not has radioGroup type expose outside to that we can create a radio group using the below code

[code]

Below is the screenshot of the type expose outside in which radiogroups is still missing. Please help us with the sample code s

[2021-11-25 06:43] pushp1010 opened #109 "Create a pre-filled PDF and send it to recipient instantly"
@ashokds  @mmohareb

I want to create a pre-filled form and send to the recipients.

When I tried the same using different type of recipient but end up nowhere
Recipient type
-  CC - it does not show the pre-filled PDF it should PDF with empty fields.
-  inPersonSigner - It does not work as we don't want embedded sign or no Sign tab in the form.
- Signer - It does not work as we don't want signatu

[2021-11-29 06:28] Dinesh2871995 opened #110 "Facing login issue with accesstoken"
Using Docusign as a framework, during login it is giving below error.

`Error Domain=user.additional.data.fetch.error Code=-1016 "Unable to fetch additional data for user - Request failed: unacceptable content-type: text/html" UserInfo={NSLocalizedDescription=Unable to fetch additional data for user - Request failed: unacceptable content-type: text/html, NSLocalizedFailureReason=USER_ADDITIONAL_DA

[2021-11-29 08:21] Dinesh2871995 commented on #110
Issue is resolved,
when i set demohostAPI to `https://demo.docusign.net/restapi` the issue is resolved

[2021-11-29 08:21] #110 closed

[2021-12-01 17:58] Rahulp710 opened #111 "App is crashing on iOS 15 and above due to DocuSign SDK 2.5.2."
When try to open DocuSign Template to make signature in mobile application, App getting crashed on iOS 15 and above version devices. But below iOS 15 version devices it is working as expected.

Docusign Version - 2.5.2 installed through cocoa pods.
pod 'DocuSign', '2.5.2'

Error is as below

*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'UIViewController

[2021-12-02 17:55] mmohareb commented on #111
Hello @Rahulp710

This issue was fixed in the latest SDK 2.7.0

[2021-12-02 17:55] #111 closed

[2021-12-02 22:08] ashokds commented on #106
Hi @bencallis ,

We have prioritized Bitcode support for the upcoming quarter. The expected release timeline for Bitcode support is Q1 2022.

We'll keep this issue open and post an update when it's ready.

Thanks.

[2021-12-03 05:15] Dinesh2871995 opened #112 "Captive Signing - Application crashed"
When I am using captive signing, Docusign opening document, user able to sign but when he press finish, application gets crashed. Updated signed pdf updated of docusign but getting below crash everytime

[code]

[2021-12-03 21:18] mmohareb commented on #112
we will be looking into this issue soon, and will reply back to you.

[2021-12-03 22:41] iOSSDK-DocuSign commented on #112
Ticket to document issue: https://jira.corp.docusign.com/browse/IOSSDK-1119

On Fri, Dec 3, 2021 at 1:25 PM 'mmohareb' via iOSOfflineTemplatesSdk <
***@***.***> wrote:

[2021-12-06 23:56] mmohareb commented on #108
@pushp1010  we were able to reproduce this issue on our side, and we are working on a fix, will let you know once we have a timeline when will this be ready.

[2021-12-07 17:48] mmohareb commented on #112
hello @Dinesh2871995

we tried this flow on our side and the issue was NOT reproduced.
Our best guess from the crash reports, is that this is an issue with how the DocuSignSDK.bundle is linked (or missing link)
did you link the framework directly into your app, or did you use cocoapods?

Please refer to this guide on how to link the SDK directly in case you are not using cocoapods
https://develope

[2022-01-11 00:14] mmohareb commented on #108
Please check the fix for this issue in [SDK version 2.8.0](https://github.com/docusign/native-ios-sdk/releases/tag/v2.8)

Here is a sample for the usage to add a Radio Buttons Grouped Together

[code]

[2022-01-11 00:14] #108 closed

[2022-01-11 01:04] mmohareb commented on #112
Closing issue.

[2022-01-11 01:04] #112 closed

[2022-01-11 01:05] mmohareb commented on #98
Can you please explain what is needed for this request?

[2022-01-11 01:07] mmohareb commented on #91
closing this issue

[2022-01-11 01:07] #91 closed

[2022-01-11 01:07] mmohareb commented on #90
Closing this issue

[2022-01-11 01:07] #90 closed

[2022-01-11 17:10] mmohareb commented on #85
closing issue

[2022-01-11 17:10] #85 closed

[2022-01-11 17:12] mmohareb commented on #77
closing issue

[2022-01-11 17:12] #77 closed

[2022-01-18 20:34] mmohareb commented on #84
Closing this issue

[2022-01-18 20:34] #84 closed

[2022-01-18 20:34] mmohareb commented on #98
Closing this issue

[2022-01-18 20:34] #98 closed

[2022-02-01 20:19] mmohareb commented on #109
Hello @pushp1010
can you help us understand better what you are trying to achieve here?
We don't understand how you expect to have any tags for CC recipients?
for IPS and Signers what kind of tabs are you trying to add and are not working?

if you can share a template with the needed requirements we can try to reproduce on our side the scenario and help you what the sample code needed

[2022-02-01 20:25] mmohareb commented on #105
Hello @bencallis

So we are planning to have official support for SPM in the second half of this year, final date to be announced once we come closer to this time frame.

for now you can create a local Swift package using binaryTarget and adding the DocuSignSDK.xcframework
https://github.com/docusign/native-ios-sdk/tree/master/DocuSignSDK.xcframework

you can follow the documentation here
https://

[2022-02-14 21:54] #109 closed

[2022-02-14 21:55] #105 closed

[2022-04-03 19:28] ValeriyJefimov opened #117 "Online sign with only access token"
Is there any way to on-line sign only with access token and envelope id, like android guys do? https://github.com/docusign/mobile-android-sdk#signing-online

[2022-04-04 23:56] mmohareb commented on #117
Hello @ValeriyJefimov
You can use this method to start online signing https://developers.docusign.com/docs/mobile-sdks/ios-sdk/reference/interface_d_s_m_envelopes_manager.html#aab7c01da74173cf4d0bdfbf66697b007
But to be able to use it you need to be logged in on the iOS SDK, currently the iOS SDK only provides Login using Access token, but you need to provide additional Info about the account, lik

[2022-04-26 17:34] #117 closed

[2022-05-10 18:52] heyzooi opened #119 "Support for Swift Package Manager (SPM)"
As a developer I would love to have support for Swift Package Manager (SPM) so I don't have to use CocoaPods or Carthage in order to use the SDK

[2022-05-11 15:05] kollDocuSign commented on #119
Victor,

My name is Koll with the DocuSign Developer Support team. I saw your post here but it sounds like the more appropriate area for this feature request would be on the DocuSign API Ideas site found here: https://feedback.docusign.com/forums/936834-apis

I would suggest posting your suggestion on the above site because it was created for the purpose of submitting Ideas that others might also

[2022-05-11 15:19] heyzooi commented on #119
Just did... https://feedback.docusign.com/forums/936834-apis/suggestions/45157993--ios-sdk-support-for-swift-package-manager

[2022-05-11 16:46] #80 closed

[2022-05-11 22:16] JMS2088 commented on #119
Thank you so much

On Thu, 12 May 2022 at 01:05, kollDocuSign ***@***.***> wrote:

[2022-05-18 05:21] pushp1010 opened #120 "RadioGroup button Pre-filling is not working"
We tried to pre-fill Radio button value in the radio group but it does not work as expected.

When we pre-fill the value it keeps on changing selected value from one radio button to another, if we open the same form again. Moreover, locking radio button functionality is also not working due to which signer is able to change the pre-filled value. please help us with sample code or working sample.

[2022-05-20 18:08] #95 closed

[2022-05-20 18:08] #119 closed

[2022-05-20 18:40] mmohareb commented on #120
Hello,

I am not sure I fully understand the request, so let me explain what I got from your question.

You want to be able to select multiple radio buttons within a radio button group, that would not work, if you need to have multiple radio buttons selected on the envelope then you need to add them in separate groups because only one radio button can be selected in the group

For the second point

[2022-05-26 17:04] scott-clampet-mh commented on #99
What was the solve for this issue?

[2022-05-26 18:51] mmohareb commented on #99
This was fixed with the SDK release 2.7

[2022-05-26 18:53] mmohareb commented on #120
@pushp1010  can you let us know if this issue is a blocker for your integration or not, if not we will handle it based on our time line.

[2022-05-31 10:39] pushp1010 commented on #120
@mmohareb

We are using only one radio group and trying to select one value with in one radio group. But the problem is, when I assign the value for a button from source code, it is not reflected on same radio button in envelope and some other button within same group gets selected.

It is a blocker for us and we would need fix on priority.

We have already raised a separate request for locking ta

[2022-06-02 17:37] mmohareb commented on #120
@pushp1010 Thank you for the feedback, we are currently working on a enabling the support for `locked`
we should have a release for this mid next week.

[2022-06-06 05:52] pushp1010 commented on #120
@mmohareb  But  we still have one more issue what about that?

[2022-06-06 20:28] ryan-coterie opened #121 "iOS SDK is rejected for using private functions"
DocuSign SDK is now rejected for using private functions. We get this error as of today, when uploading binaries to App Store Connect. We didn't get the issue with the same SDK version previously (newest Cocoapod).

Error Text: The app references non-public selectors in Payload/The Coterie.app/Frameworks/DocuSignSDK.framework/DocuSignSDK: dataTypes, initWithFrame:configuration:, isMainFrame, setNa

[2022-06-07 15:44] mmohareb commented on #121
We just got a confirmation from Milo that this is a false alarm from Apple and that the app was approved.

[2022-06-07 15:46] mmohareb commented on #120
@pushp1010 as part of this release we are also validating the selected feature to make sure it works as expected. Once we release it you can re test the scenario again to see if you still see the issue or not.

[2022-06-07 23:17] mmohareb commented on #120
@pushp1010 Please find the latest release [v2.11](https://github.com/docusign/native-ios-sdk/releases/tag/v2.11) to address this issue.

Also as mentioned we currently allow only one radio button per group to be selected, /* @note If an existing radio tab is selected in the same radio group, it'll be set as unselected in the process of adding a new radio tab which is selected.*/
so make sure you o

[2022-06-10 20:54] ashokds commented on #120
Hi @pushp1010 :

With `2.11`, following properties on the `radioTab` can be used to customize the radioGroups.

`isLocked(true/false)` -- Locked property customizes the edibility of the radios during.

`isSelected(true)` -- Selected property allows to pre-select a radio tab in a given group. Selecting a radio tab in a given group makes the previously radios unselected. So there can be only one sel

[2022-06-10 20:54] #120 closed

[2022-06-13 07:45] pushp1010 opened #123 "v2.11 - App Crash with uncaught exception: 'DSMTabBuilderException', reason: 'Tab Frame is out of page bounds.'"
It was working fine before the upgrade but we started getting the below crash 2.11 earlier we were using **2.9.**. We are stuck as working functionality stopped working please look into this with priority

It is happening for DSTabtype = DSMTabTypeText

@mmohareb

*** Terminating app due to uncaught exception 'DSMTabBuilderException', reason: 'Tab Frame is out of page bounds.'
*** First throw call

[2022-06-13 10:35] AbdulrahmanGameel commented on #123
hi @pushp1010,

If you can, please open a support case with docusign here: http://support.docusign.com/
They would be best equipped to assist you with the issue ASAP.

Hope this helps.

[2022-06-13 13:10] pushp1010 opened #124 "Random DSMRadio get selected in DSMRadiogroup"
@mmohareb

While we are trying to pre-fill the radio button in radios group it keep on selecting the random button we try to find out the reasons

then we find out the  **groupTab.radios** order keeps on changing in radio groups below is the logs:

[code]

Even more we are not getting any unique identifier **tablabel** and **tabname**  in the radio button of radio group to identify which one to be

[2022-06-13 14:51] ivdinkovds commented on #124
Hi @pushp1010, in regards to case 09619415 and the current issue, iOS team devs were notified and will follow up on your question

[2022-06-28 02:24] ashokds commented on #123
Hi @pushp1010 :

The tab validation check is throwing an exception (as expected) because one of the tabs is placed outside the bounds of the page.

`*** Terminating app due to uncaught exception 'DSMTabBuilderException', reason: 'Tab Frame is out of page bounds.'`

The exception is thrown with error that also has `userInfo` to help deduce which tab is failing the validation. Search for `tabId`, `p

[2022-06-28 04:05] ashokds commented on #124
Hi @pushp1010 :

Please add the code snippet where you are adding `radioTabs` in a `radioGroup`. (Action item on your side to resolve both questions).

As per comment #120 : https://github.com/docusign/native-ios-sdk/issues/120#issuecomment-1152731597, please ensure that a unique `groupName` is used for radios which are part of the same group. I see that you are using `"radioGroupCustomerType1"` a

[2022-07-04 07:33] ThisIszas opened #126 "How to resolve "Only role name allowed for in-person recipients" error when cache template"
How to resolve "Only role name allowed for in-person recipients" error when cache template,  I added those 2 recipients in my template, but the `cacheTemplate` method always return this error.
<img width="1188" alt="image" src="https://user-images.githubusercontent.com/15715045/177104482-287aa126-7237-4463-9a5e-13a1b25d6b23.png">

Optional(Error Domain=template.save.error Code=0 "Only role name al

[2022-07-04 19:35] esilva600 commented on #126
Hello,

Looking at the error message, apparently, the template has an in-person signer and the API call is using a different recipient type.
You need to provide the logs to The DocuSign Support Team, they can assist you.

You can check the article below on how to capture the logs:
https://support.docusign.com/s/document-item?language=en_US&rsc_301&bundleId=jux1643235969954&topicId=poz1578456669909

[2022-07-05 01:47] ThisIszas commented on #126
Hi teams,

Log is attached, thanks for your reply.

[logs.zip](https://github.com/docusign/native-ios-sdk/files/9042662/logs.zip)

[2022-07-05 07:53] pushp1010 opened #127 "v2.11 - App Crash with uncaught exception: 'DSMTabBuilderException', reason: 'Tab Frame is out of page bounds.'"
@ashokds

It was working fine with previous version of the SDK.

We have the templates created on the web portal and all the textfields are placed within the page. We do not assign the frame explicitly while creating envelope Tab, frame values are the same which we get from the downloaded template tabs.  Everything worked fine till previous version with that placement and we are facing this issue

[2022-07-05 17:16] ashokds commented on #126
Hi @ThisIszas ,

Following error is sent from iOS-SDK when it detects a template has `name`, `email` assigned to `signers` and `hosts` for offline use:

I updated the screenshot to indicate how you could resolve this error:

<img width="1188" alt="only-role-name-allowed-error" src="https://user-images.githubusercontent.com/17131511/177380667-5a0234e9-d7c6-494f-87b8-5343841ff808.png">

In order to

[2022-07-06 02:55] ThisIszas commented on #126
Thanks

[2022-07-06 02:55] #126 closed

[2022-07-07 23:52] ashokds commented on #127
Hi @pushp1010 :

Please upload your template here. It would help investigate this issue on our end.

Thanks.

[2022-07-07 23:53] ashokds commented on #124
Hi @pushp1010 :

Were you able to fix the radio tabs assignment and select them as per your need?

Thanks.

[2022-07-07 23:58] ashokds commented on #123
@pushp1010 :

This check has been updated recently with `v2.11` to address another issue that resulted in `sync` failures. Please upload the template here (or on #127) to help reach a resolution.

Thanks.

[2022-07-28 14:22] pushp1010 commented on #123
Thanks for sharing the info on debugging using page width and height.

[2022-07-28 14:22] #123 closed

[2022-07-28 14:22] pushp1010 commented on #127
@ashokds

Thanks for sharing the info on debugging using page width and height.

[2022-07-28 14:22] #127 closed

[2022-07-28 20:08] mmohareb commented on #124
@pushp1010
We were able to find an issue on our side causing the tab.value to be missing, we will push a fix in the next release to address this issue, for the time being you can relay on the TabID attribute, this one does not change as long as the tab is not changed in the template.

[2022-08-18 18:31] #124 closed

[2022-09-02 15:54] JacobVnu opened #130 "NavigationBar appearance changing while calling DSMManager.login() method"
Hi Am using Docusign V 2.11. In my application Am setting my NavigationBar theme in AppDelegate `didfinsihLaunching` method. And Am calling the method, `DSMManager.login()`   in home page. After this method called, if I try to presenting any viewController with `viewController.modalPresentationStyle = .fullScreen` and come back to previous page by dismissing it, my NavigationBar color changed to w

[2022-09-06 18:32] mmohareb commented on #130
Hello @JacobVnu

Thanks for the details and Sample app, it seems the issue is related to how you set the navbar color, setting it in AppDelegate does not maintain it across screens, basically when you show a new ViewController that removes the navigation bar, when it's re added again it doesn't maintain the same color.
I was able to avoid this issue, by moving the nav bar code from App delegate to

[2022-09-12 03:11] JacobVnu commented on #130
Hi @mmohareb

Thank you for your reply. The App has a feature that, if we set the AppTheme in `didFinishLaunching()` it will apply to entire app. And we don't need to reapply it again. The App was working well and it shows the NavigationBar color in all viewControllers. The issue start happening after the DocuSign SDK update into V 2.12. And we identified that the issue happening only after callin

[2022-11-14 11:27] KrishnaKishore1992 commented on #12
Team we still have this issue. When trying to open envelope that is created by server by using below function Docusign viewcontroller is presented and dismissed immediately.

self.mDSMEnvelopesManager?.presentSigning(withPresenting: presentingController, envelopeId: envelopeId, animated: true, completion: { (_, error) in
            if let error = error {
                print("DS Error: ", error)

[2022-11-14 11:31] KrishnaKishore1992 opened #133 "Present a signing screen for an envelop Id created by Server"
Team,

We still have this issue. When trying to open envelope that is created by server by using below function Docusign DSMSigningViewController is presented and dismissed immediately with in seconds.

I am using latest 3.0.0 iOS SDK

self.mDSMEnvelopesManager?.presentSigning(withPresenting: presentingController, envelopeId: envelopeId, animated: true, completion: { (_, error) in
     if let erro

[2022-11-14 18:09] mmohareb commented on #133
Hello @KrishnaKishore1992

Thanks for your report, can we get more details to be able to repro the same issue on our side?
Can you share a sample of the envelope you are using, like a template that we can use to recreate the envelope?
We checked the envelope id `992ca18c-c3ad-41f8-b9e7-18b9a0981bd0` but we didn't find and tabs on this envelope, so not sure if this is the right envelope you are try

[2022-11-17 12:23] KrishnaKishore1992 commented on #133
Sorry missed your message.
Thanks for your reply.
Are tabs are mandatory in the envelope?

[2022-11-18 12:12] KrishnaKishore1992 commented on #133
Added tabs to the envelope id. still same issue Enabled tabs for this envelopeId aa00d6a7-72e0-4f45-90d4-421cfd3cac8c.

self.mDSMEnvelopesManager?.presentSigning(withPresenting: presentingController, envelopeId: envelopeId, animated: true, completion: { (_, error) in
if let error = error {
print("DS Error: ", error)
}
})

While presenting no errors observed. but DSMSigningCompletedNotification is

[2022-11-18 20:34] mmohareb commented on #133
Hello @KrishnaKishore1992,

I was able to repro the issue you are seeing and the reason is the recipient that is logged into the SDK is different than the one that is assigned to sign this envelope. When both the logged in account and the envelope recipient matched I was able to open the envelope for signature without a problem.

Let us know if this solves the issue for your case or not, we would

[2022-11-30 07:02] mmohareb commented on #133
After discussion, the root cause of this issue was the logged in user was the sender and not the signer and that caused the signing ceremony to end earlier.
Advised to use Captive signing instead of remote signing since the signer does not have an account.
Resources for Captive signing https://www.docusign.com/blog/developers/embedded-signing-the-native-ios-sdk

[2022-11-30 07:02] #133 closed